/* This stylesheet is used to style the admin option form of the plugin. */
.extendable_options
{
    overflow: hidden; 

    height: 0;
}

fieldset.group
{
    padding-left: 20px; 

    border-left: 1px solid #333;
}

.postbox h3.hndle
{
    font-size: 15px; 

    padding: 7px;
}

.postbox .row
{
    display: inline-block;

    width: 100%;
    padding: 5px 0;
}
.postbox .row .field
{
    display: inline-block;

    width: 100%;
    padding: 5px 0;
}
.postbox .row .group
{
    margin-left: 5px; 
    padding-left: 15px;

    border: 1px solid rgba(203, 203, 203, .2);
    background-color: rgba(203, 203, 203, .2);
}

.postbox .uninstall_area
{
    margin-top: 15px;
}
