.wp-full-overlay-sidebar * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.accordion-section-content {
  overflow: visible;
}

.customize-control {
  float: none;
  padding: 5px;
  min-height: 35px;
}

#customize-header-actions {
  border-bottom: 0;
}

.customize-control-color .wp-picker-container .wp-picker-open + .wp-picker-input-wrap:after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 19px;
  border-collapse: separate;
  width: 0;
  height: 0;
  border-width: 0 9px 9px 9px;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
}

/*
 * Color Picker
 */
.customize-control-color .customize-control-title {
  float: left;
}
.customize-control-color .wp-picker-container {
  position: relative;
  float: right;
  top: -3px;
}
.customize-control-color .wp-picker-container .wp-picker-holder {
  position: relative;
}
.customize-control-color .wp-picker-container .iris-picker {
  position: absolute;
  top: 54px;
  right: -13px;
  z-index: 1000;
  width: 275px !important;
  border-top: none;
  border-color: #DFDFDE;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px;
  background: white;
}
.customize-control-color .wp-picker-container .iris-picker .iris-square {
  width: 215px !important;
  height: 173px !important;
  margin-right: 0;
}
.customize-control-color .wp-picker-container .iris-picker .iris-strip {
  float: right;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px inset;
}
.customize-control-color .wp-picker-container .iris-picker .iris-strip .ui-slider-handle {
  border-color: #aaa !important;
  opacity: 1;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.customize-control-color .wp-picker-container .iris-picker .iris-palette {
  width: 24px !important;
  height: 24px !important;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px inset;
}
.customize-control-color .wp-picker-container .wp-picker-open + .wp-picker-input-wrap {
  position: absolute;
  z-index: 1000;
  top: 42px;
  right: -13px;
  width: 277px;
  padding: 12px;
  background: #eee;
  border: 1px solid #DFDFDE;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
}
.customize-control-color .wp-picker-container .wp-picker-open + .wp-picker-input-wrap input.wp-color-picker {
  float: left;
}
.customize-control-color .wp-picker-container .wp-picker-open + .wp-picker-input-wrap input.button {
  float: right;
}
.customize-control-color .wp-color-result {
  top: 0;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  border: none;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 0px inset;
}
.customize-control-color .wp-color-result:after {
  display: none;
}

/**
 * CSS Editor Customizer
 */
#accordion-section-live_css_edit_section #css_editor {
  top: 70px;
  border-top: 10px solid white;
  overflow: visible;
}
#accordion-section-live_css_edit_section #css_editor:before {
  content: "";
  width: 48px;
  height: 10px;
  display: block;
  background: #e8e8e8;
  top: -10px;
  position: absolute;
  z-index: 10000000;
  left: 0;
}
#accordion-section-live_css_edit_section .ace_scroller {
  padding-left: 10px;
}

.wp-full-overlay.editor_opened {
  margin-left: 500px;
}
.wp-full-overlay.editor_opened #customize-controls {
  width: 500px;
}
.wp-full-overlay.editor_opened.collapsed #customize-controls {
  width: 300px;
}

/**
 * Typography
 */
.customize-control-typography:not(:first-child) .customize-control-title {
  margin-top: 15px;
}
.customize-control-typography ul li {
  width: 48%;
  display: inline-table;
}
.customize-control-typography ul li:nth-child(2n+1) {
  width: 45%;
  margin-right: 5%;
}
.customize-control-typography ul li label {
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}
.customize-control-typography ul li select {
  width: 100%;
}

.customize-control select[multiple].customify_typography_font_subsets {
  height: 28px;
}
