.sm-variation-0 {
  --sm-current-color-0: var(--sm-color-0);
  --sm-current-color-1: var(--sm-color-1);
  --sm-current-color-2: var(--sm-color-2);
  --sm-current-color-3: var(--sm-color-3);
  --sm-current-color-4: var(--sm-color-4);
  --sm-current-color-5: var(--sm-color-5);
  --sm-current-color-6: var(--sm-color-6);
  --sm-current-color-7: var(--sm-color-7);
  --sm-current-color-8: var(--sm-color-8);
  --sm-current-color-9: var(--sm-color-9);
  --sm-current-color-10: var(--sm-color-10);
  --sm-current-color-11: var(--sm-color-11);
  --sm-current-accent-color: var(--sm-accent-color-0);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-0);
  --sm-current-darker-color: var(--sm-darker-color-0);
}

.sm-variation-1 {
  --sm-current-color-0: var(--sm-color-1);
  --sm-current-color-1: var(--sm-color-2);
  --sm-current-color-2: var(--sm-color-3);
  --sm-current-color-3: var(--sm-color-4);
  --sm-current-color-4: var(--sm-color-5);
  --sm-current-color-5: var(--sm-color-6);
  --sm-current-color-6: var(--sm-color-7);
  --sm-current-color-7: var(--sm-color-8);
  --sm-current-color-8: var(--sm-color-9);
  --sm-current-color-9: var(--sm-color-10);
  --sm-current-color-10: var(--sm-color-11);
  --sm-current-color-11: var(--sm-color-0);
  --sm-current-accent-color: var(--sm-accent-color-1);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-1);
  --sm-current-darker-color: var(--sm-darker-color-1);
}

.sm-variation-2 {
  --sm-current-color-0: var(--sm-color-2);
  --sm-current-color-1: var(--sm-color-3);
  --sm-current-color-2: var(--sm-color-4);
  --sm-current-color-3: var(--sm-color-5);
  --sm-current-color-4: var(--sm-color-6);
  --sm-current-color-5: var(--sm-color-7);
  --sm-current-color-6: var(--sm-color-8);
  --sm-current-color-7: var(--sm-color-9);
  --sm-current-color-8: var(--sm-color-10);
  --sm-current-color-9: var(--sm-color-11);
  --sm-current-color-10: var(--sm-color-0);
  --sm-current-color-11: var(--sm-color-1);
  --sm-current-accent-color: var(--sm-accent-color-2);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-2);
  --sm-current-darker-color: var(--sm-darker-color-2);
}

.sm-variation-3 {
  --sm-current-color-0: var(--sm-color-3);
  --sm-current-color-1: var(--sm-color-4);
  --sm-current-color-2: var(--sm-color-5);
  --sm-current-color-3: var(--sm-color-6);
  --sm-current-color-4: var(--sm-color-7);
  --sm-current-color-5: var(--sm-color-8);
  --sm-current-color-6: var(--sm-color-9);
  --sm-current-color-7: var(--sm-color-10);
  --sm-current-color-8: var(--sm-color-11);
  --sm-current-color-9: var(--sm-color-0);
  --sm-current-color-10: var(--sm-color-1);
  --sm-current-color-11: var(--sm-color-2);
  --sm-current-accent-color: var(--sm-accent-color-3);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-3);
  --sm-current-darker-color: var(--sm-darker-color-3);
}

.sm-variation-4 {
  --sm-current-color-0: var(--sm-color-4);
  --sm-current-color-1: var(--sm-color-5);
  --sm-current-color-2: var(--sm-color-6);
  --sm-current-color-3: var(--sm-color-7);
  --sm-current-color-4: var(--sm-color-8);
  --sm-current-color-5: var(--sm-color-9);
  --sm-current-color-6: var(--sm-color-10);
  --sm-current-color-7: var(--sm-color-11);
  --sm-current-color-8: var(--sm-color-0);
  --sm-current-color-9: var(--sm-color-1);
  --sm-current-color-10: var(--sm-color-2);
  --sm-current-color-11: var(--sm-color-3);
  --sm-current-accent-color: var(--sm-accent-color-4);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-4);
  --sm-current-darker-color: var(--sm-darker-color-4);
}

.sm-variation-5 {
  --sm-current-color-0: var(--sm-color-5);
  --sm-current-color-1: var(--sm-color-6);
  --sm-current-color-2: var(--sm-color-7);
  --sm-current-color-3: var(--sm-color-8);
  --sm-current-color-4: var(--sm-color-9);
  --sm-current-color-5: var(--sm-color-10);
  --sm-current-color-6: var(--sm-color-11);
  --sm-current-color-7: var(--sm-color-0);
  --sm-current-color-8: var(--sm-color-1);
  --sm-current-color-9: var(--sm-color-2);
  --sm-current-color-10: var(--sm-color-3);
  --sm-current-color-11: var(--sm-color-4);
  --sm-current-accent-color: var(--sm-accent-color-5);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-5);
  --sm-current-darker-color: var(--sm-darker-color-5);
}

.sm-variation-6 {
  --sm-current-color-0: var(--sm-color-6);
  --sm-current-color-1: var(--sm-color-7);
  --sm-current-color-2: var(--sm-color-8);
  --sm-current-color-3: var(--sm-color-9);
  --sm-current-color-4: var(--sm-color-10);
  --sm-current-color-5: var(--sm-color-11);
  --sm-current-color-6: var(--sm-color-0);
  --sm-current-color-7: var(--sm-color-1);
  --sm-current-color-8: var(--sm-color-2);
  --sm-current-color-9: var(--sm-color-3);
  --sm-current-color-10: var(--sm-color-4);
  --sm-current-color-11: var(--sm-color-5);
  --sm-current-accent-color: var(--sm-accent-color-6);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-6);
  --sm-current-darker-color: var(--sm-darker-color-6);
}

.sm-variation-7 {
  --sm-current-color-0: var(--sm-color-7);
  --sm-current-color-1: var(--sm-color-8);
  --sm-current-color-2: var(--sm-color-9);
  --sm-current-color-3: var(--sm-color-10);
  --sm-current-color-4: var(--sm-color-11);
  --sm-current-color-5: var(--sm-color-0);
  --sm-current-color-6: var(--sm-color-1);
  --sm-current-color-7: var(--sm-color-2);
  --sm-current-color-8: var(--sm-color-3);
  --sm-current-color-9: var(--sm-color-4);
  --sm-current-color-10: var(--sm-color-5);
  --sm-current-color-11: var(--sm-color-6);
  --sm-current-accent-color: var(--sm-accent-color-7);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-7);
  --sm-current-darker-color: var(--sm-darker-color-7);
}

.sm-variation-8 {
  --sm-current-color-0: var(--sm-color-8);
  --sm-current-color-1: var(--sm-color-9);
  --sm-current-color-2: var(--sm-color-10);
  --sm-current-color-3: var(--sm-color-11);
  --sm-current-color-4: var(--sm-color-0);
  --sm-current-color-5: var(--sm-color-1);
  --sm-current-color-6: var(--sm-color-2);
  --sm-current-color-7: var(--sm-color-3);
  --sm-current-color-8: var(--sm-color-4);
  --sm-current-color-9: var(--sm-color-5);
  --sm-current-color-10: var(--sm-color-6);
  --sm-current-color-11: var(--sm-color-7);
  --sm-current-accent-color: var(--sm-accent-color-8);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-8);
  --sm-current-darker-color: var(--sm-darker-color-8);
}

.sm-variation-9 {
  --sm-current-color-0: var(--sm-color-9);
  --sm-current-color-1: var(--sm-color-10);
  --sm-current-color-2: var(--sm-color-11);
  --sm-current-color-3: var(--sm-color-0);
  --sm-current-color-4: var(--sm-color-1);
  --sm-current-color-5: var(--sm-color-2);
  --sm-current-color-6: var(--sm-color-3);
  --sm-current-color-7: var(--sm-color-4);
  --sm-current-color-8: var(--sm-color-5);
  --sm-current-color-9: var(--sm-color-6);
  --sm-current-color-10: var(--sm-color-7);
  --sm-current-color-11: var(--sm-color-8);
  --sm-current-accent-color: var(--sm-accent-color-9);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-9);
  --sm-current-darker-color: var(--sm-darker-color-9);
}

.sm-variation-10 {
  --sm-current-color-0: var(--sm-color-10);
  --sm-current-color-1: var(--sm-color-11);
  --sm-current-color-2: var(--sm-color-0);
  --sm-current-color-3: var(--sm-color-1);
  --sm-current-color-4: var(--sm-color-2);
  --sm-current-color-5: var(--sm-color-3);
  --sm-current-color-6: var(--sm-color-4);
  --sm-current-color-7: var(--sm-color-5);
  --sm-current-color-8: var(--sm-color-6);
  --sm-current-color-9: var(--sm-color-7);
  --sm-current-color-10: var(--sm-color-8);
  --sm-current-color-11: var(--sm-color-9);
  --sm-current-accent-color: var(--sm-accent-color-10);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-10);
  --sm-current-darker-color: var(--sm-darker-color-10);
}

.sm-variation-11 {
  --sm-current-color-0: var(--sm-color-11);
  --sm-current-color-1: var(--sm-color-0);
  --sm-current-color-2: var(--sm-color-1);
  --sm-current-color-3: var(--sm-color-2);
  --sm-current-color-4: var(--sm-color-3);
  --sm-current-color-5: var(--sm-color-4);
  --sm-current-color-6: var(--sm-color-5);
  --sm-current-color-7: var(--sm-color-6);
  --sm-current-color-8: var(--sm-color-7);
  --sm-current-color-9: var(--sm-color-8);
  --sm-current-color-10: var(--sm-color-9);
  --sm-current-color-11: var(--sm-color-10);
  --sm-current-accent-color: var(--sm-accent-color-11);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-11);
  --sm-current-darker-color: var(--sm-darker-color-11);
}

html {
  --sm-color-0: var(--sm-0-color-0);
  --sm-accent-color-0: var(--sm-0-accent-color-0);
  --sm-dark-color-0: var(--sm-0-dark-color-0);
  --sm-darker-color-0: var(--sm-0-darker-color-0);
  --sm-color-1: var(--sm-0-color-1);
  --sm-accent-color-1: var(--sm-0-accent-color-1);
  --sm-dark-color-1: var(--sm-0-dark-color-1);
  --sm-darker-color-1: var(--sm-0-darker-color-1);
  --sm-color-2: var(--sm-0-color-2);
  --sm-accent-color-2: var(--sm-0-accent-color-2);
  --sm-dark-color-2: var(--sm-0-dark-color-2);
  --sm-darker-color-2: var(--sm-0-darker-color-2);
  --sm-color-3: var(--sm-0-color-3);
  --sm-accent-color-3: var(--sm-0-accent-color-3);
  --sm-dark-color-3: var(--sm-0-dark-color-3);
  --sm-darker-color-3: var(--sm-0-darker-color-3);
  --sm-color-4: var(--sm-0-color-4);
  --sm-accent-color-4: var(--sm-0-accent-color-4);
  --sm-dark-color-4: var(--sm-0-dark-color-4);
  --sm-darker-color-4: var(--sm-0-darker-color-4);
  --sm-color-5: var(--sm-0-color-5);
  --sm-accent-color-5: var(--sm-0-accent-color-5);
  --sm-dark-color-5: var(--sm-0-dark-color-5);
  --sm-darker-color-5: var(--sm-0-darker-color-5);
  --sm-color-6: var(--sm-0-color-6);
  --sm-accent-color-6: var(--sm-0-accent-color-6);
  --sm-dark-color-6: var(--sm-0-dark-color-6);
  --sm-darker-color-6: var(--sm-0-darker-color-6);
  --sm-color-7: var(--sm-0-color-7);
  --sm-accent-color-7: var(--sm-0-accent-color-7);
  --sm-dark-color-7: var(--sm-0-dark-color-7);
  --sm-darker-color-7: var(--sm-0-darker-color-7);
  --sm-color-8: var(--sm-0-color-8);
  --sm-accent-color-8: var(--sm-0-accent-color-8);
  --sm-dark-color-8: var(--sm-0-dark-color-8);
  --sm-darker-color-8: var(--sm-0-darker-color-8);
  --sm-color-9: var(--sm-0-color-9);
  --sm-accent-color-9: var(--sm-0-accent-color-9);
  --sm-dark-color-9: var(--sm-0-dark-color-9);
  --sm-darker-color-9: var(--sm-0-darker-color-9);
  --sm-color-10: var(--sm-0-color-10);
  --sm-accent-color-10: var(--sm-0-accent-color-10);
  --sm-dark-color-10: var(--sm-0-dark-color-10);
  --sm-darker-color-10: var(--sm-0-darker-color-10);
  --sm-color-11: var(--sm-0-color-11);
  --sm-accent-color-11: var(--sm-0-accent-color-11);
  --sm-dark-color-11: var(--sm-0-dark-color-11);
  --sm-darker-color-11: var(--sm-0-darker-color-11);
  --sm-current-color-0: var(--sm-color-0);
  --sm-current-color-1: var(--sm-color-1);
  --sm-current-color-2: var(--sm-color-2);
  --sm-current-color-3: var(--sm-color-3);
  --sm-current-color-4: var(--sm-color-4);
  --sm-current-color-5: var(--sm-color-5);
  --sm-current-color-6: var(--sm-color-6);
  --sm-current-color-7: var(--sm-color-7);
  --sm-current-color-8: var(--sm-color-8);
  --sm-current-color-9: var(--sm-color-9);
  --sm-current-color-10: var(--sm-color-10);
  --sm-current-color-11: var(--sm-color-11);
  --sm-current-accent-color: var(--sm-accent-color-0);
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-0);
  --sm-current-darker-color: var(--sm-darker-color-0);
}

.sm-palette-0 {
  --sm-color-0: var(--sm-0-color-0);
  --sm-accent-color-0: var(--sm-0-accent-color-0);
  --sm-dark-color-0: var(--sm-0-dark-color-0);
  --sm-darker-color-0: var(--sm-0-darker-color-0);
  --sm-color-1: var(--sm-0-color-1);
  --sm-accent-color-1: var(--sm-0-accent-color-1);
  --sm-dark-color-1: var(--sm-0-dark-color-1);
  --sm-darker-color-1: var(--sm-0-darker-color-1);
  --sm-color-2: var(--sm-0-color-2);
  --sm-accent-color-2: var(--sm-0-accent-color-2);
  --sm-dark-color-2: var(--sm-0-dark-color-2);
  --sm-darker-color-2: var(--sm-0-darker-color-2);
  --sm-color-3: var(--sm-0-color-3);
  --sm-accent-color-3: var(--sm-0-accent-color-3);
  --sm-dark-color-3: var(--sm-0-dark-color-3);
  --sm-darker-color-3: var(--sm-0-darker-color-3);
  --sm-color-4: var(--sm-0-color-4);
  --sm-accent-color-4: var(--sm-0-accent-color-4);
  --sm-dark-color-4: var(--sm-0-dark-color-4);
  --sm-darker-color-4: var(--sm-0-darker-color-4);
  --sm-color-5: var(--sm-0-color-5);
  --sm-accent-color-5: var(--sm-0-accent-color-5);
  --sm-dark-color-5: var(--sm-0-dark-color-5);
  --sm-darker-color-5: var(--sm-0-darker-color-5);
  --sm-color-6: var(--sm-0-color-6);
  --sm-accent-color-6: var(--sm-0-accent-color-6);
  --sm-dark-color-6: var(--sm-0-dark-color-6);
  --sm-darker-color-6: var(--sm-0-darker-color-6);
  --sm-color-7: var(--sm-0-color-7);
  --sm-accent-color-7: var(--sm-0-accent-color-7);
  --sm-dark-color-7: var(--sm-0-dark-color-7);
  --sm-darker-color-7: var(--sm-0-darker-color-7);
  --sm-color-8: var(--sm-0-color-8);
  --sm-accent-color-8: var(--sm-0-accent-color-8);
  --sm-dark-color-8: var(--sm-0-dark-color-8);
  --sm-darker-color-8: var(--sm-0-darker-color-8);
  --sm-color-9: var(--sm-0-color-9);
  --sm-accent-color-9: var(--sm-0-accent-color-9);
  --sm-dark-color-9: var(--sm-0-dark-color-9);
  --sm-darker-color-9: var(--sm-0-darker-color-9);
  --sm-color-10: var(--sm-0-color-10);
  --sm-accent-color-10: var(--sm-0-accent-color-10);
  --sm-dark-color-10: var(--sm-0-dark-color-10);
  --sm-darker-color-10: var(--sm-0-darker-color-10);
  --sm-color-11: var(--sm-0-color-11);
  --sm-accent-color-11: var(--sm-0-accent-color-11);
  --sm-dark-color-11: var(--sm-0-dark-color-11);
  --sm-darker-color-11: var(--sm-0-darker-color-11);
}

.sm-palette-1 {
  --sm-color-0: var(--sm-1-color-0);
  --sm-accent-color-0: var(--sm-1-accent-color-0);
  --sm-dark-color-0: var(--sm-1-dark-color-0);
  --sm-darker-color-0: var(--sm-1-darker-color-0);
  --sm-color-1: var(--sm-1-color-1);
  --sm-accent-color-1: var(--sm-1-accent-color-1);
  --sm-dark-color-1: var(--sm-1-dark-color-1);
  --sm-darker-color-1: var(--sm-1-darker-color-1);
  --sm-color-2: var(--sm-1-color-2);
  --sm-accent-color-2: var(--sm-1-accent-color-2);
  --sm-dark-color-2: var(--sm-1-dark-color-2);
  --sm-darker-color-2: var(--sm-1-darker-color-2);
  --sm-color-3: var(--sm-1-color-3);
  --sm-accent-color-3: var(--sm-1-accent-color-3);
  --sm-dark-color-3: var(--sm-1-dark-color-3);
  --sm-darker-color-3: var(--sm-1-darker-color-3);
  --sm-color-4: var(--sm-1-color-4);
  --sm-accent-color-4: var(--sm-1-accent-color-4);
  --sm-dark-color-4: var(--sm-1-dark-color-4);
  --sm-darker-color-4: var(--sm-1-darker-color-4);
  --sm-color-5: var(--sm-1-color-5);
  --sm-accent-color-5: var(--sm-1-accent-color-5);
  --sm-dark-color-5: var(--sm-1-dark-color-5);
  --sm-darker-color-5: var(--sm-1-darker-color-5);
  --sm-color-6: var(--sm-1-color-6);
  --sm-accent-color-6: var(--sm-1-accent-color-6);
  --sm-dark-color-6: var(--sm-1-dark-color-6);
  --sm-darker-color-6: var(--sm-1-darker-color-6);
  --sm-color-7: var(--sm-1-color-7);
  --sm-accent-color-7: var(--sm-1-accent-color-7);
  --sm-dark-color-7: var(--sm-1-dark-color-7);
  --sm-darker-color-7: var(--sm-1-darker-color-7);
  --sm-color-8: var(--sm-1-color-8);
  --sm-accent-color-8: var(--sm-1-accent-color-8);
  --sm-dark-color-8: var(--sm-1-dark-color-8);
  --sm-darker-color-8: var(--sm-1-darker-color-8);
  --sm-color-9: var(--sm-1-color-9);
  --sm-accent-color-9: var(--sm-1-accent-color-9);
  --sm-dark-color-9: var(--sm-1-dark-color-9);
  --sm-darker-color-9: var(--sm-1-darker-color-9);
  --sm-color-10: var(--sm-1-color-10);
  --sm-accent-color-10: var(--sm-1-accent-color-10);
  --sm-dark-color-10: var(--sm-1-dark-color-10);
  --sm-darker-color-10: var(--sm-1-darker-color-10);
  --sm-color-11: var(--sm-1-color-11);
  --sm-accent-color-11: var(--sm-1-accent-color-11);
  --sm-dark-color-11: var(--sm-1-dark-color-11);
  --sm-darker-color-11: var(--sm-1-darker-color-11);
}

.sm-palette-2 {
  --sm-color-0: var(--sm-2-color-0);
  --sm-accent-color-0: var(--sm-2-accent-color-0);
  --sm-dark-color-0: var(--sm-2-dark-color-0);
  --sm-darker-color-0: var(--sm-2-darker-color-0);
  --sm-color-1: var(--sm-2-color-1);
  --sm-accent-color-1: var(--sm-2-accent-color-1);
  --sm-dark-color-1: var(--sm-2-dark-color-1);
  --sm-darker-color-1: var(--sm-2-darker-color-1);
  --sm-color-2: var(--sm-2-color-2);
  --sm-accent-color-2: var(--sm-2-accent-color-2);
  --sm-dark-color-2: var(--sm-2-dark-color-2);
  --sm-darker-color-2: var(--sm-2-darker-color-2);
  --sm-color-3: var(--sm-2-color-3);
  --sm-accent-color-3: var(--sm-2-accent-color-3);
  --sm-dark-color-3: var(--sm-2-dark-color-3);
  --sm-darker-color-3: var(--sm-2-darker-color-3);
  --sm-color-4: var(--sm-2-color-4);
  --sm-accent-color-4: var(--sm-2-accent-color-4);
  --sm-dark-color-4: var(--sm-2-dark-color-4);
  --sm-darker-color-4: var(--sm-2-darker-color-4);
  --sm-color-5: var(--sm-2-color-5);
  --sm-accent-color-5: var(--sm-2-accent-color-5);
  --sm-dark-color-5: var(--sm-2-dark-color-5);
  --sm-darker-color-5: var(--sm-2-darker-color-5);
  --sm-color-6: var(--sm-2-color-6);
  --sm-accent-color-6: var(--sm-2-accent-color-6);
  --sm-dark-color-6: var(--sm-2-dark-color-6);
  --sm-darker-color-6: var(--sm-2-darker-color-6);
  --sm-color-7: var(--sm-2-color-7);
  --sm-accent-color-7: var(--sm-2-accent-color-7);
  --sm-dark-color-7: var(--sm-2-dark-color-7);
  --sm-darker-color-7: var(--sm-2-darker-color-7);
  --sm-color-8: var(--sm-2-color-8);
  --sm-accent-color-8: var(--sm-2-accent-color-8);
  --sm-dark-color-8: var(--sm-2-dark-color-8);
  --sm-darker-color-8: var(--sm-2-darker-color-8);
  --sm-color-9: var(--sm-2-color-9);
  --sm-accent-color-9: var(--sm-2-accent-color-9);
  --sm-dark-color-9: var(--sm-2-dark-color-9);
  --sm-darker-color-9: var(--sm-2-darker-color-9);
  --sm-color-10: var(--sm-2-color-10);
  --sm-accent-color-10: var(--sm-2-accent-color-10);
  --sm-dark-color-10: var(--sm-2-dark-color-10);
  --sm-darker-color-10: var(--sm-2-darker-color-10);
  --sm-color-11: var(--sm-2-color-11);
  --sm-accent-color-11: var(--sm-2-accent-color-11);
  --sm-dark-color-11: var(--sm-2-dark-color-11);
  --sm-darker-color-11: var(--sm-2-darker-color-11);
}

.sm-palette-success {
  --sm-color-0: var(--sm-success-color-0);
  --sm-accent-color-0: var(--sm-success-accent-color-0);
  --sm-dark-color-0: var(--sm-success-dark-color-0);
  --sm-darker-color-0: var(--sm-success-darker-color-0);
  --sm-color-1: var(--sm-success-color-1);
  --sm-accent-color-1: var(--sm-success-accent-color-1);
  --sm-dark-color-1: var(--sm-success-dark-color-1);
  --sm-darker-color-1: var(--sm-success-darker-color-1);
  --sm-color-2: var(--sm-success-color-2);
  --sm-accent-color-2: var(--sm-success-accent-color-2);
  --sm-dark-color-2: var(--sm-success-dark-color-2);
  --sm-darker-color-2: var(--sm-success-darker-color-2);
  --sm-color-3: var(--sm-success-color-3);
  --sm-accent-color-3: var(--sm-success-accent-color-3);
  --sm-dark-color-3: var(--sm-success-dark-color-3);
  --sm-darker-color-3: var(--sm-success-darker-color-3);
  --sm-color-4: var(--sm-success-color-4);
  --sm-accent-color-4: var(--sm-success-accent-color-4);
  --sm-dark-color-4: var(--sm-success-dark-color-4);
  --sm-darker-color-4: var(--sm-success-darker-color-4);
  --sm-color-5: var(--sm-success-color-5);
  --sm-accent-color-5: var(--sm-success-accent-color-5);
  --sm-dark-color-5: var(--sm-success-dark-color-5);
  --sm-darker-color-5: var(--sm-success-darker-color-5);
  --sm-color-6: var(--sm-success-color-6);
  --sm-accent-color-6: var(--sm-success-accent-color-6);
  --sm-dark-color-6: var(--sm-success-dark-color-6);
  --sm-darker-color-6: var(--sm-success-darker-color-6);
  --sm-color-7: var(--sm-success-color-7);
  --sm-accent-color-7: var(--sm-success-accent-color-7);
  --sm-dark-color-7: var(--sm-success-dark-color-7);
  --sm-darker-color-7: var(--sm-success-darker-color-7);
  --sm-color-8: var(--sm-success-color-8);
  --sm-accent-color-8: var(--sm-success-accent-color-8);
  --sm-dark-color-8: var(--sm-success-dark-color-8);
  --sm-darker-color-8: var(--sm-success-darker-color-8);
  --sm-color-9: var(--sm-success-color-9);
  --sm-accent-color-9: var(--sm-success-accent-color-9);
  --sm-dark-color-9: var(--sm-success-dark-color-9);
  --sm-darker-color-9: var(--sm-success-darker-color-9);
  --sm-color-10: var(--sm-success-color-10);
  --sm-accent-color-10: var(--sm-success-accent-color-10);
  --sm-dark-color-10: var(--sm-success-dark-color-10);
  --sm-darker-color-10: var(--sm-success-darker-color-10);
  --sm-color-11: var(--sm-success-color-11);
  --sm-accent-color-11: var(--sm-success-accent-color-11);
  --sm-dark-color-11: var(--sm-success-dark-color-11);
  --sm-darker-color-11: var(--sm-success-darker-color-11);
}

.sm-palette-error {
  --sm-color-0: var(--sm-error-color-0);
  --sm-accent-color-0: var(--sm-error-accent-color-0);
  --sm-dark-color-0: var(--sm-error-dark-color-0);
  --sm-darker-color-0: var(--sm-error-darker-color-0);
  --sm-color-1: var(--sm-error-color-1);
  --sm-accent-color-1: var(--sm-error-accent-color-1);
  --sm-dark-color-1: var(--sm-error-dark-color-1);
  --sm-darker-color-1: var(--sm-error-darker-color-1);
  --sm-color-2: var(--sm-error-color-2);
  --sm-accent-color-2: var(--sm-error-accent-color-2);
  --sm-dark-color-2: var(--sm-error-dark-color-2);
  --sm-darker-color-2: var(--sm-error-darker-color-2);
  --sm-color-3: var(--sm-error-color-3);
  --sm-accent-color-3: var(--sm-error-accent-color-3);
  --sm-dark-color-3: var(--sm-error-dark-color-3);
  --sm-darker-color-3: var(--sm-error-darker-color-3);
  --sm-color-4: var(--sm-error-color-4);
  --sm-accent-color-4: var(--sm-error-accent-color-4);
  --sm-dark-color-4: var(--sm-error-dark-color-4);
  --sm-darker-color-4: var(--sm-error-darker-color-4);
  --sm-color-5: var(--sm-error-color-5);
  --sm-accent-color-5: var(--sm-error-accent-color-5);
  --sm-dark-color-5: var(--sm-error-dark-color-5);
  --sm-darker-color-5: var(--sm-error-darker-color-5);
  --sm-color-6: var(--sm-error-color-6);
  --sm-accent-color-6: var(--sm-error-accent-color-6);
  --sm-dark-color-6: var(--sm-error-dark-color-6);
  --sm-darker-color-6: var(--sm-error-darker-color-6);
  --sm-color-7: var(--sm-error-color-7);
  --sm-accent-color-7: var(--sm-error-accent-color-7);
  --sm-dark-color-7: var(--sm-error-dark-color-7);
  --sm-darker-color-7: var(--sm-error-darker-color-7);
  --sm-color-8: var(--sm-error-color-8);
  --sm-accent-color-8: var(--sm-error-accent-color-8);
  --sm-dark-color-8: var(--sm-error-dark-color-8);
  --sm-darker-color-8: var(--sm-error-darker-color-8);
  --sm-color-9: var(--sm-error-color-9);
  --sm-accent-color-9: var(--sm-error-accent-color-9);
  --sm-dark-color-9: var(--sm-error-dark-color-9);
  --sm-darker-color-9: var(--sm-error-darker-color-9);
  --sm-color-10: var(--sm-error-color-10);
  --sm-accent-color-10: var(--sm-error-accent-color-10);
  --sm-dark-color-10: var(--sm-error-dark-color-10);
  --sm-darker-color-10: var(--sm-error-darker-color-10);
  --sm-color-11: var(--sm-error-color-11);
  --sm-accent-color-11: var(--sm-error-accent-color-11);
  --sm-dark-color-11: var(--sm-error-dark-color-11);
  --sm-darker-color-11: var(--sm-error-darker-color-11);
}

.sm-palette-warning {
  --sm-color-0: var(--sm-warning-color-0);
  --sm-accent-color-0: var(--sm-warning-accent-color-0);
  --sm-dark-color-0: var(--sm-warning-dark-color-0);
  --sm-darker-color-0: var(--sm-warning-darker-color-0);
  --sm-color-1: var(--sm-warning-color-1);
  --sm-accent-color-1: var(--sm-warning-accent-color-1);
  --sm-dark-color-1: var(--sm-warning-dark-color-1);
  --sm-darker-color-1: var(--sm-warning-darker-color-1);
  --sm-color-2: var(--sm-warning-color-2);
  --sm-accent-color-2: var(--sm-warning-accent-color-2);
  --sm-dark-color-2: var(--sm-warning-dark-color-2);
  --sm-darker-color-2: var(--sm-warning-darker-color-2);
  --sm-color-3: var(--sm-warning-color-3);
  --sm-accent-color-3: var(--sm-warning-accent-color-3);
  --sm-dark-color-3: var(--sm-warning-dark-color-3);
  --sm-darker-color-3: var(--sm-warning-darker-color-3);
  --sm-color-4: var(--sm-warning-color-4);
  --sm-accent-color-4: var(--sm-warning-accent-color-4);
  --sm-dark-color-4: var(--sm-warning-dark-color-4);
  --sm-darker-color-4: var(--sm-warning-darker-color-4);
  --sm-color-5: var(--sm-warning-color-5);
  --sm-accent-color-5: var(--sm-warning-accent-color-5);
  --sm-dark-color-5: var(--sm-warning-dark-color-5);
  --sm-darker-color-5: var(--sm-warning-darker-color-5);
  --sm-color-6: var(--sm-warning-color-6);
  --sm-accent-color-6: var(--sm-warning-accent-color-6);
  --sm-dark-color-6: var(--sm-warning-dark-color-6);
  --sm-darker-color-6: var(--sm-warning-darker-color-6);
  --sm-color-7: var(--sm-warning-color-7);
  --sm-accent-color-7: var(--sm-warning-accent-color-7);
  --sm-dark-color-7: var(--sm-warning-dark-color-7);
  --sm-darker-color-7: var(--sm-warning-darker-color-7);
  --sm-color-8: var(--sm-warning-color-8);
  --sm-accent-color-8: var(--sm-warning-accent-color-8);
  --sm-dark-color-8: var(--sm-warning-dark-color-8);
  --sm-darker-color-8: var(--sm-warning-darker-color-8);
  --sm-color-9: var(--sm-warning-color-9);
  --sm-accent-color-9: var(--sm-warning-accent-color-9);
  --sm-dark-color-9: var(--sm-warning-dark-color-9);
  --sm-darker-color-9: var(--sm-warning-darker-color-9);
  --sm-color-10: var(--sm-warning-color-10);
  --sm-accent-color-10: var(--sm-warning-accent-color-10);
  --sm-dark-color-10: var(--sm-warning-dark-color-10);
  --sm-darker-color-10: var(--sm-warning-darker-color-10);
  --sm-color-11: var(--sm-warning-color-11);
  --sm-accent-color-11: var(--sm-warning-accent-color-11);
  --sm-dark-color-11: var(--sm-warning-dark-color-11);
  --sm-darker-color-11: var(--sm-warning-darker-color-11);
}

.sm-palette-info {
  --sm-color-0: var(--sm-info-color-0);
  --sm-accent-color-0: var(--sm-info-accent-color-0);
  --sm-dark-color-0: var(--sm-info-dark-color-0);
  --sm-darker-color-0: var(--sm-info-darker-color-0);
  --sm-color-1: var(--sm-info-color-1);
  --sm-accent-color-1: var(--sm-info-accent-color-1);
  --sm-dark-color-1: var(--sm-info-dark-color-1);
  --sm-darker-color-1: var(--sm-info-darker-color-1);
  --sm-color-2: var(--sm-info-color-2);
  --sm-accent-color-2: var(--sm-info-accent-color-2);
  --sm-dark-color-2: var(--sm-info-dark-color-2);
  --sm-darker-color-2: var(--sm-info-darker-color-2);
  --sm-color-3: var(--sm-info-color-3);
  --sm-accent-color-3: var(--sm-info-accent-color-3);
  --sm-dark-color-3: var(--sm-info-dark-color-3);
  --sm-darker-color-3: var(--sm-info-darker-color-3);
  --sm-color-4: var(--sm-info-color-4);
  --sm-accent-color-4: var(--sm-info-accent-color-4);
  --sm-dark-color-4: var(--sm-info-dark-color-4);
  --sm-darker-color-4: var(--sm-info-darker-color-4);
  --sm-color-5: var(--sm-info-color-5);
  --sm-accent-color-5: var(--sm-info-accent-color-5);
  --sm-dark-color-5: var(--sm-info-dark-color-5);
  --sm-darker-color-5: var(--sm-info-darker-color-5);
  --sm-color-6: var(--sm-info-color-6);
  --sm-accent-color-6: var(--sm-info-accent-color-6);
  --sm-dark-color-6: var(--sm-info-dark-color-6);
  --sm-darker-color-6: var(--sm-info-darker-color-6);
  --sm-color-7: var(--sm-info-color-7);
  --sm-accent-color-7: var(--sm-info-accent-color-7);
  --sm-dark-color-7: var(--sm-info-dark-color-7);
  --sm-darker-color-7: var(--sm-info-darker-color-7);
  --sm-color-8: var(--sm-info-color-8);
  --sm-accent-color-8: var(--sm-info-accent-color-8);
  --sm-dark-color-8: var(--sm-info-dark-color-8);
  --sm-darker-color-8: var(--sm-info-darker-color-8);
  --sm-color-9: var(--sm-info-color-9);
  --sm-accent-color-9: var(--sm-info-accent-color-9);
  --sm-dark-color-9: var(--sm-info-dark-color-9);
  --sm-darker-color-9: var(--sm-info-darker-color-9);
  --sm-color-10: var(--sm-info-color-10);
  --sm-accent-color-10: var(--sm-info-accent-color-10);
  --sm-dark-color-10: var(--sm-info-dark-color-10);
  --sm-darker-color-10: var(--sm-info-darker-color-10);
  --sm-color-11: var(--sm-info-color-11);
  --sm-accent-color-11: var(--sm-info-accent-color-11);
  --sm-dark-color-11: var(--sm-info-dark-color-11);
  --sm-darker-color-11: var(--sm-info-darker-color-11);
}

html,
[class*="sm-variation-"] {
  background-color: var(--sm-current-background-color);
  color: var(--sm-current-dark-color);
}
