@keyframes shake {

  0%, 87.5%, 100% {
    transform: translate3d(0, 0, 0);
  }

  12.5% { transform: translate3d(1%, 0, 0) }
  25% { transform: translate3d(-2%, 0, 0) }
  37.5% { transform: translate3d(3%, 0, 0) }
  50% { transform: translate3d(-3%, 0, 0) }
  62.5% { transform: translate3d(2%, 0, 0) }
  75% { transform: translate3d(-1%, 0, 0) }
}

.input-error {
  border-color: #9E362F !important;
}

.input-shake {
  animation: shake .5s both;
}

@media (print), (prefers-reduced-motion: reduce) {
  .input-shake {
    animation: none;
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

