//------------------------------------*\
//    CSS Editor Customizer
//------------------------------------*/

// Section
#accordion-section-live_css_edit_section {

  // Add the default border to title
  .customize-section-title {
    margin-top: -13px;
    border-bottom: 1px solid $border-color;
  }

  // Ace Editor
  #css_editor {
    top: 70px;
    border-top: 10px solid #FFFFFF;
    overflow: visible;

    &:before {
      content: "";
      width: 48px;
      height: 10px;
      display: block;
      background: $blue-whitish;
      top: -10px;
      position: absolute;
      z-index: 10000000;
      left: 0;
    }
  }

  // Add Some Extra Spacing Around the Editor Content
  .ace_scroller {
    padding-left: 10px;
  }
}

// Increase the Customizer width when Editor is opened
.wp-full-overlay.editor_opened {
  margin-left: 500px;

  #customize-controls {
    width: 500px;
  }

  // Go back when the Customizer is collapsed
  &.collapsed #customize-controls {
    width: 300px;
  }
}
