.customize-control {
  margin-bottom: 0;

  & + & {
    margin-top: $fields-spacing;
  }

  .control-section:not(.control-section-themes) & {
    width: 100%;
    min-height: 0;
    padding: 0;
  }

  input[type="text"]:not(#_customize-input-wpcom_custom_css_content_width_control):not(.wp-color-picker),
  input[type="password"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[type="search"],
  textarea {
    @include input;
  }

  // Textarea
  textarea {
    height: auto;
  }

  // Checkbox
  input[type="checkbox"],
  input[type="radio"] {
    width: $fields-height / 2;
    height: $fields-height / 2;

    &:checked {
      background: #73C5EE;
      border-color: #5AB9E8;

      &:before {
        color: white;
        margin: -1px 0 0 -2px;
      }
    }
  }

  // Radios
  input[type="radio"] {
    border-radius: 50%;

    &:checked:before {
      content: none;
    }
  }

  // Select
  select {
    @include input;
    @include select;

    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;

    /* For IE10 */
    &::-ms-expand {
      display: none;
    }
  }

  $input-size: calc(100% - 55px);
  $input-height: 6px;
  $thumb-height: 22px;

  input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: $input-size;
    height: $thumb-height;
    overflow: hidden;
    outline: none;
    background: none;

    &:before {
      content: " ";
      position: absolute;
      top: 8px;
      left: 0;
      height: $input-height;
      width: 100%;
      background: $blue-whitish;
      box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.30);
      border-radius: 10px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: $thumb-height;
      height: $thumb-height;
      background: #27ae60;
      position: relative;
      z-index: 3;

      background: #FFFFFF;
      border: 2px solid $blue-lightest;
      border-radius: $fields-border-radius;

      &:before {
        content: "..";
        position: absolute;
        left: 5px;
        top: -5px;
        color: $blue-lightest;
        font-size: 1em;
        letter-spacing: 1px;
      }

      &:after {
        content: " ";
        width: $input-size;
        height: $input-height;
        position: absolute;
        z-index: 1;
        right: $thumb-height - 2px;
        top: $input-height;
        background: #73C5EE;
      }
    }

    &:before {
      box-shadow: none;
    }
  }


  input[type="number"].range-value {
    width: auto;
    height: auto;
    padding: 2px 2px 3px 3px;
    margin-left: 10px;

    flex: 1 0 50px;

    font-size: 13px;
    line-height: 1.7;
    text-align: center;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.customize-control-checkbox:not(#customize-control-jetpack_css_mode_control),
.customize-control-radio {

  // Split into two columns only when
  // there is more than one label
  label:not(:only-of-type),
  // WordPress 4.9 Class
  > .customize-inside-control-row:not(:only-of-type) {
    display: inline-block;
    width: calc(49% - 30px);
    margin-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
    text-indent: -6px;
  }

  label {
    color: $blue-dark;
  }

  // Except the dividers titles
  [id*="divider"] + & {
    margin-top: 0;
  }
}

.customize-control-checkbox {
  // Select HTML Labels followed by a Checkbox field
  .customize-control-html + & {
    margin-top: -24px;
  }
}

.customize-control-radio {
  label,
  // WordPress 4.9 Class
  .customize-inside-control-row {
    margin-top: $fields-spacing / 2;
  }

  // New WP 4.9 Changesets options
  &#customize-control-changeset_status .customize-inside-control-row {
    margin-top: 0;
    text-indent: 0;
  }
}

#customize-theme-controls .control-section.open {
  border-bottom: 0;
}

.customize-control-description {
  margin-top: 6px;
}
