.customize-control {
  margin-bottom: 0;

  & + & {
    margin-top: $fields-spacing;
  }

  .control-section:not(.control-section-themes) & {
    width: 100%;
    min-height: 0;
    padding: 0;
  }

  input[type="text"]:not(#_customize-input-wpcom_custom_css_content_width_control):not(.wp-color-picker),
  input[type="password"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[type="search"] {
    @include input;
  }

  // Textarea
  textarea {
    @include field;
  }

  // Select
  select {
    @include field;

    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;

    &:not([multiple]) {
      @include field-select;
    }

    /* For IE10 */
    &::-ms-expand {
      display: none;
    }
  }

  input[type="range"] {
    $thumb-height: 22px;

    position: relative;
    height: $thumb-height;
    overflow: hidden;
    outline: none;
    background: none;

    -webkit-appearance: none;

    &:before {
      content: " ";

      position: absolute;
      top: 8px;
      left: 0;

      width: 100%;
      height: 6px;

      background: $blue-lightest;
      border-radius: 999em;
    }

    &::-webkit-slider-thumb {
      width: $thumb-height;
      height: $thumb-height;
      background: #27ae60;
      position: relative;
      z-index: 3;

      background: $white;
      border: 2px solid $border-color;
      border-radius: $fields-border-radius;

      -webkit-appearance: none;

      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
    }

    &:active::-webkit-slider-thumb {
      cursor: grabbing;
    }
  }
}

.customize-control-checkbox,
.customize-control-radio {

  .customize-inside-control-row {
    margin-left: 0;
  }
}

.customize-control-checkbox input[type="checkbox"],
.customize-control-radio input[type="radio"] {
  display: none;

  + label {
    display: flex;
    align-items: center;
  }

  + label:before {
    content: "";

    display: block;
    width: $fields-height / 2;
    height: $fields-height / 2;
    flex: 0 0 $fields-height / 2;

    margin-right: $fields-spacing / 2;
    border: 2px solid $border-color;

    background: $white center no-repeat;
  }

  &:focus + label:before {
    border-color: $blue;
  }

  &:checked + label:before {
    border-color: $blue;
    background-color: $blue;
    background-image: url($checkmark-svg-white);
  }
}

.customize-inside-control-row {

  :first-child:nth-last-child(n+5),
  :first-child:nth-last-child(n+5) ~ & {

    .customize-control-checkbox:not(#customize-control-jetpack_css_mode_control) > &,
    .customize-control-radio > & {
      @include clearfix;

      width: calc(50% - #{$fields-spacing / 2});
      float: left;
    }
  }
}

// Checkbox
.customize-control-checkbox {

  input[type="checkbox"] + label:before {
    border-radius: $fields-border-radius;
  }
}

// Radios
.customize-control-radio {

  input[type="radio"] + label:before {
    border-radius: 50%;
  }

  // New WP 4.9 Changesets options
  &#customize-control-changeset_status .customize-inside-control-row {
    margin-top: 0;
    text-indent: 0;
  }
}

#customize-theme-controls {

  .customize-control-title {
    margin-bottom: $fields-spacing / 2;
  }

  // adjustments for weird jetpack markup
  li.customize-control-title {
    margin-bottom: 0;

    + .customize-control-checkbox,
    + .customize-control-radio {
      margin-top: 0;
    }
  }

  .customize-control-description {
    margin-bottom: $fields-spacing / 2;
    font-style: normal;
    opacity: 0.75;
  }

  .customize-control-textarea .customize-control-description {
    margin-top: initial;
  }

  .control-section.open {
    border-bottom: 0;
  }
}
