#customify_import_demo_data_button {
  width: 70%;
  text-align: center;
  padding: 10px;
  display: inline-block;
  height: auto;
  margin: 0 15% 10% 15%;
}

.import_step_note {
  margin: 5px;
  width: 100%;
  display: inline-block;


  &:before {
    content: "\1F449";
  }

  &.success:before {
    content: "\1F44D";
  }

  &.failed:before {
    content: "\274C";
  }
}
