// Section tabs
.section-navigation-wrapper {
  position: relative;

  height: 43px;
  margin: -15px -12px 0 -12px;
  margin-right: -$container-spacing;
  margin-left: -$container-spacing;
}

.section-navigation {
  display: flex;
  width: 100%;
  border-top: 1px solid $border-color;

  a {
    flex: 1 1 auto;
    display: block;
    padding: 12px 0;

    color: $blue-darker;
    background-color: $white;

    text-align: center;
    text-decoration: none;

    transition: background-color .15s ease-in-out;

    &:not(:last-child) {
      border-right: 1px solid $border-color;
    }
  }
}

#customize-controls {

  .customize-info,
  .customize-section-title {
    &.is-sticky.is-sticky {
      top: 40px;
    }

    &.is-in-view.is-in-view {
      box-shadow: none;
    }
  }

  .customize-section-description-container.section-meta.has-nav {
    margin-bottom: 0;

    + .screen-reader-text + .customize-control-html {
      .separator.section {
        margin-top: -$fields-spacing;
      }
    }
  }
}
