#customize-theme-controls {

  .accordion-section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 40px 11px $container-spacing;
    border: 0;

    background: $white;
    color: inherit;
  }

  #sub-accordion-panel-style_manager_panel,
  #sub-accordion-panel-theme_options_panel {

    .customize-panel-description {
      display: block;
    }
  }

  #accordion-section-title_tagline,
  #accordion-panel-style_manager_panel,
  #accordion-section-sm_color_palettes_section,
  #accordion-section-sm_font_palettes_section,
  #accordion-panel-theme_options_panel {

    .accordion-section-title:before {
      font-family: dashicons;
      font-size: 17px;

      color: $blue-lightest;
      order: 2;

      -webkit-font-smoothing: antialiased;
    }
  }

  #accordion-section-title_tagline {

    .accordion-section-title {

      &:before {
        content: "\f110";
        color: $blue-light;
      }

      img {
        display: none !important;
      }
    }
  }

  #accordion-panel-style_manager_panel {

    .accordion-section-title:before {
      content: "\f155";
      font-size: 18px;
      color: #F8BC30;
    }
  }


  #accordion-panel-theme_options_panel {

    .accordion-section-title:before {
      content: "\f538";
    }
  }

  #accordion-section-sm_color_palettes_section {

    .accordion-section-title:before {
      content: "\f100";
    }
  }

  #accordion-section-sm_font_palettes_section {

    .accordion-section-title:before {
      content: "\f122";
    }
  }

  #accordion-section-sm_color_palettes_section,
  #accordion-section-sm_font_palettes_section {

    .accordion-section-title {
      justify-content: flex-start;

      &:before {
        width: 2em;
        height: 2em;
        margin-right: 15px;
        padding-left: 0.1em;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        background-color: $blue-light;
        color: $blue-white;

        border-radius: 50%;
        order: -1;
      }
    }
  }

  #accordion-section-sm_color_palettes_section {

    .accordion-section-title {
      border-bottom: 1px solid $border-color;
    }
  }

  #accordion-section-sm_color_palettes_section + #accordion-section-sm_font_palettes_section {
    margin-top: $fields-spacing / 2;

    .accordion-section-title {
      border-top: 1px solid $border-color;
    }
  }

  // Theme Options Panel and PRO Section should have some space after them to make theme stand out.
  // ----------------------------------------
  #accordion-panel-theme_options_panel,
  #accordion-section-pro__section {

    .accordion-section-title {
      border-bottom: 1px solid $border-color;
      margin-bottom: 10px;
    }
  }
}
