#customize-theme-controls {

  .separator {

    &.label {
      display: block;
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
    }

    &.large {
      margin-top: $fields-spacing / 2;
      font-size: 16px;
      color: #39474D;
    }

    &.section,
    &.sub-section {

      .customize-section-description-container:first-child + .customize-control-html & {
        margin-top: -16px;
      }

      &:before {
        content: "";

        position: absolute;
        top: 0;
        bottom: 0;
        left: -$container-spacing;
        right: -$container-spacing;
        z-index: -1;

        border-width: 1px 0;
        border-style: solid;
        border-color: $border-color;

        background-color: $white;
      }
    }

    &.section {
      position: relative;
      padding: 14px 0;
      margin-bottom: 0;
      background: none;
      border: none;

      &[id*="layout"] {
        margin-top: 0;

        &:before {
          border: 0;
        }
      }

      &:before {
        border-width: 1px 0;
      }
    }

    &.sub-section {
      position: relative;
      padding: 12px 0;

      &:before {
        border-width: 1px 0;
        background-color: $white;
      }
    }
  }
}
