#customize-theme-controls {

  .theme * {
    box-sizing: content-box;
  }

  #accordion-section-add_menu {
    border-bottom: none;

    .add-menu-toggle {
      float: none;
    }
  }
}

.customify_ace_editor {
  display: block;
  min-height: 200px;
  border: 1px solid $border-color;
}

.ui-tooltip {
  z-index: 999999;
}
