
//------------------------------------*\
//    STYLE MANAGER
//------------------------------------*/

// COLOR PALETTES SECTION //

$palette_box_shadow: inset 0 0 3px 0 rgba(0,0,0,0.2);
$palette_box_shadow_stronger: inset 0 0 3px 0 rgba(0,0,0,0.4);

.pix_customizer_setting {

  .customize-inside-control-row {
    position: relative;
    width: 100% !important;
    margin-left: 0 !important;
    text-indent: 0 !important;
    background-size: cover;
    background-position: 50% 50%;
    height: 64px;
    border-radius: 5px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      pointer-events: none;

      box-shadow: $palette_box_shadow;
    }

    // Color Palette Hover
    &:hover {

      &:before {
        // Increase the inner shadow strongness
        box-shadow: $palette_box_shadow_stronger;
      }

      .palette__item {
        transform: translateY(0%);
      }

      label {
        left: 10px;
      }
    }

    input {
      opacity: 0;
    }

    input:checked + label {
      .preview__letter--checked {
        display: inline-block;
        vertical-align: middle;
      }
      .preview__letter {
        display: none;
      }
    }

    label {
      position: absolute;
      display: flex;
      z-index: 2;

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      padding: 0 10px;
      margin-top: 0 !important;
      align-items: center;

      transition: all .3s ease;
    }

    .palette {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;

      transition: all .2s ease;
    }

    // Colors Bars
    .palette__item {
      flex: 1;
      transform: translateY(100%);

      transition: all .3s ease;

      // Assume maximum 10 colors
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: 0s + $i/20 - 1/20;
        }
      }
    }

    .preview__letter,
    .preview__letter--checked {
      display: inline-block;
      padding: 3px;
      border-radius: 2px;
      color: white;
      margin-right: 5px;
      min-height: 26px;
      min-width: 26px;
      text-align: center;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 15px 15px;
      font-style: normal;
      vertical-align: baseline;
    }

    .preview__letter--checked {
      display: none;
    }
  }
}

[id*="sm_current_color_palette_control"] {
  .customize-inside-control-row .palette__item[class] {
    transform: none;
  }

  .variation-control {
    display: flex;
  }
}

/// ------------------

$palette_height: 64px;
$palette_border-radius: 5px;

.label__inner {
  color: #000000;
  background: #F5F6F1;

  padding: 7px 12px 7px 7px;
  z-index: 2;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.picker {
  position: relative;
  top: 0;
  left: 50%;

  width: 80%;
  max-width: 3em;
  margin-top: auto;
  margin-bottom: auto;

  border-radius: 50%;
  overflow: hidden;
  transform: translate3d(-50%,0,0);
}

.colors .picker > i {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: $palette_box_shadow;
  border-radius: 50%;
  pointer-events: none;
  z-index: 20;
}

.picker:before,
.picker:after {
  content: "";
  display: block;
  background: currentColor;
  border-radius: 50%;
}

.picker:before {
  padding-top: 100%;
}

.picker:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fill {
  overflow: hidden;
}

.color:first-child .fill {
  border-top-left-radius: $palette_border-radius;
  border-bottom-left-radius: $palette_border-radius;
}

.color:last-child .fill {
  border-top-right-radius: $palette_border-radius;
  border-bottom-right-radius: $palette_border-radius;
}

.label {
  margin-right: auto;
}

#customize-theme-controls [id*="sm_current_color_palette_control"] {
  display: block;
  width: auto;

  .color-palette-container {
    background: white;

    .description {
      margin-bottom: 15px;
    }
  }

  .description.c-color-palette__notification {
    padding-top: 19px;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: bold;
  }
}

.c-color-palette__fields {
  position: relative;
}

.c-color-palette .iris-picker {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;

  margin-top: 1em;
  border: 0;

  box-shadow: black 0 3px 12px -4px;

  .iris-square-handle {
    border-color: transparent;
    left: -6px;
    top: -6px;

    &:after {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      border: 2px solid white;
    }
  }

  .iris-square-value {
    box-shadow: none !important;
  }
}

.colors {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 3em;
}

.color {
  display: flex;
  flex-direction: column;

  flex: 1 1 0;
  overflow: hidden;
  transition: flex-grow .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  &.hidden {
    display: flex;
    flex-grow: 0;
    transition: flex-grow .3s cubic-bezier(0.6, -1.00, 0.74, 0.05); // easeBackInMega

    .picker {
      opacity: 0;
      transition: opacity .2s ease-out;
    }
  }

  .picker {
    transition: opacity .3s ease-in-out, border-color .3s ease-in-out;
    cursor: pointer;
  }

  &.inactive .picker {
    opacity: 0.2;
  }

  &.inactive .picker:hover {
    opacity: 1;
  }

  &.js-no-picker {
    .picker {
      cursor: not-allowed;
    }
  }
}

input.c-color-palette__input[class] {
  margin-top: 1em;
}

#customize-control-sm_toggle_advanced_settings_control {
  margin-bottom: 0;
  opacity: 0;

  button {
    width: 100%;
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

// SECTIONS AND PANELS WITH ICONS
// ========================================

@mixin section_icon($icon) {
  h3.accordion-section-title:before {
    position: absolute;
    content: $icon;
    color: #aed2e5;
    font-family: dashicons;
    margin-right: 28px;
    font-size: 17px;
    top: 8px;
    right: 10px;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
  }
}

#customize-theme-controls {

  #sub-accordion-panel-style_manager_panel,
  #sub-accordion-panel-theme_options_panel {
    .customize-panel-description {
      display: block;
    }
  }

  // Style Manager Section
  // ----------------------------------------
  li#accordion-panel-style_manager_panel {
    @include section_icon("\f155");

    h3.accordion-section-title:before {
      font-size: 18px;
      color: #f8bc30; // Yellow color
    }
  }

  // Style Manager → Colors / Fonts Panels
  li#accordion-section-sm_color_palettes_section {
    @include section_icon("\f100");
    h3.accordion-section-title {
      border-top: none;
    }
  }

  li#accordion-section-sm_font_palettes_section {
    @include section_icon("\f122");
  }

  li#accordion-section-sm_color_palettes_section,
  li#accordion-section-sm_font_palettes_section {
    h3.accordion-section-title {

      &:before {
        padding: 3px;
        margin-right: 20px;
        margin-top: -2px;
      }
    }
  }


  // Theme Options Section
  // ----------------------------------------
  li#accordion-panel-theme_options_panel {
    @include section_icon("\f538");
  }

  // Theme Options Panel and PRO Section should have some space after them to make theme stand out.
  // ----------------------------------------
  li#accordion-panel-theme_options_panel,
  li#accordion-section-pro__section {
    h3.accordion-section-title {
      border-bottom: 1px solid #ddd;
      border-left: none;
      border-right: none;
      margin: 0 0 15px 0;
    }
  }
}

.color .disc {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  &:after {
    content: "";
    filter: blur(6px) saturate(.7) brightness(1.1);

    display: block;
    width: 200%;
    height: 200%;
    padding-top: 100%;

    position: absolute;
    top: -50%;
    left: -50%;
    transform: scale(1);
    background-image:
      linear-gradient(330deg, transparent 50%, #ff8100 0),
      linear-gradient(300deg, transparent 50%, #ff5800 0),
      linear-gradient(270deg, transparent 50%, #c92323 0),
      linear-gradient(240deg, transparent 50%, #cc42a2 0),
      linear-gradient(210deg, transparent 50%, #9f49ac 0),
      linear-gradient(180deg, transparent 50%, #306cd3 0),
      linear-gradient(150deg, transparent 50%, #179067 0),
      linear-gradient(120deg, transparent 50%, #0eb5d6 0),
      linear-gradient(90deg, transparent 50%, #50b517 0),
      linear-gradient(60deg, transparent 50%, #ede604 0),
      linear-gradient(30deg, transparent 50%, #fc0 0),
      linear-gradient(0deg, transparent 50%, #feac00 0);
    background-clip: content-box,content-box,content-box,content-box,content-box,content-box,padding-box,padding-box,padding-box,padding-box,padding-box,padding-box;
  }
}

.color.altered .disc {
  opacity: 1;
}

.customize-control-color .wp-picker-container .iris-picker {

  .iris-palette-container {
    display: flex;
    width: 215px;
  }

  .iris-palette {
    width: auto !important;
    height: auto !important;
    flex: 1 1 0;
    float: none;

    &:after {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
}

.c-color-palette {
  padding: 30px 20px 18px;
}

[id="customize-control-sm_current_color_palette_control"][id] {
  margin-bottom: 0;

  ~ .customize-control {
    background-color: #FFFFFF;
    margin-bottom: 0;
    padding: 24px 20px 0;
  }
}

// hide the matrix control
#customize-control-sm_dark_color_primary_slider_control,
#customize-control-sm_dark_color_secondary_slider_control,
#customize-control-sm_dark_color_tertiary_slider_control {
  display: none !important;
}

.sm_color_matrix {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;

  > * {
    display: grid;
    grid-auto-rows: 2px;
    grid-auto-columns: 2px;

    flex: 0 0 percentage(1/3);
    padding-top: 15px;
    padding-left: 15px;

    > * {
      background-color: currentColor;
      border-radius: 50%;
      border: 1px solid #ccc;
      animation-duration: 0.75s;
      animation-name: bounceIn;
    }

    > :nth-child(1) { grid-area: 16 / 12 / span 12 / span 12; }
    > :nth-child(2) { grid-area: 26 / 24 / span 4 / span 4; }
    > :nth-child(3) { grid-area: 13 / 24 / span 4 / span 4; }
    > :nth-child(4) { grid-area: 8 / 8 / span 8 / span 8; }
    > :nth-child(5) { grid-area: 32 / 8 / span 4 / span 4; }
    > :nth-child(6) { grid-area: 30 / 16 / span 8 / span 8; }
    > :nth-child(7) { grid-area: 4 / 20 / span 8 / span 8; }
    > :nth-child(8) { grid-area: 17 / 26 / span 8 / span 8; }
    > :nth-child(9) { grid-area: 22 / 2 / span 8 / span 8; }
    > :nth-child(10) { grid-area: 28 / 11 / span 2 / span 2; }
    > :nth-child(11) { grid-area: 9 / 31 / span 6 / span 6; }
    > :nth-child(11) { grid-area: 26 / 30 / span 9 / span 9; }
    > :nth-child(12) { grid-area: 17 / 7 / span 4 / span 4; }
    > :nth-child(13) { grid-area: 19 / 36 / span 6 / span 6; }
    > :nth-child(14) { grid-area: 12 / 18 / span 2 / span 2; }
    > :nth-child(n+15) { display: none; }
  }
}


.sm-tabs {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  text-align: center;

  border-bottom: 1px solid #DFE8EF;

  &__item {
    padding: 12px 0;
    margin-bottom: -1px;
    // flex-grow: 1;
    flex-basis: 31%;

    font-size: 14px;
    // font-weight: 500;
    color: $blue-dark;
    opacity: 0.7;

    border-bottom: 3px solid transparent;
    cursor: pointer;

    transition: all 0.2s ease;

    &:not(&--active):hover {
      color: $blue-darker;
      border-bottom-color: #E2E4E7;
      opacity: 1;
    }
  }

  &__item--active {
    color: $blue-darker;
    border-bottom-color: #57ABD5;
    opacity: 1;
  }
}

[id="sub-accordion-section-sm_color_palettes_section"] {
  display: flex !important;
  flex-direction: column;
  padding: 12px 0 0 !important;
  overflow: hidden;

  #customize-control-sm_color_palette_control {
    flex-shrink: 0;
    overflow-y: scroll;
    margin-bottom: 0;
    padding-top: 12px;
  }

  > * {
    flex-grow: 0;
    padding: 0 12px;
  }

  [id="customize-control-sm_current_color_palette_control"] ~ * {
    display: none !important;
  }

  [id="customize-control-sm_palettes_description_control"],
  [id="customize-control-sm_palettes_description_after_control"],
  [id="customize-control-sm_filters_description_control"],
  [id="customize-control-sm_filters_description_after_control"],
  [id="customize-control-sm_customize_description_control"],
  [id="customize-control-sm_customize_description_after_control"] {
    span {
      margin: 0;
    }
  }

  [id="customize-control-sm_palettes_description_after_control"][id].customize-control {
    padding-top: 0;
  }

  [id="customize-control-sm_filters_description_after_control"][id].customize-control {
    padding-top: 12px;
  }

  &.sm-view-palettes {
    [id="customize-control-sm_palettes_description_control"],
    [id="customize-control-sm_palettes_description_after_control"],
    [id="customize-control-sm_color_palette_control"] {
      display: block !important;
    }
  }

  &.sm-view-filters {
    [id="customize-control-sm_filters_description_control"],
    [id="customize-control-sm_filters_description_after_control"],
    [id="customize-control-sm_palette_filter_control"] {
      display: block !important;
    }
  }

  &.sm-view-customize {
    [id="customize-control-sm_customize_description_control"],
    [id="customize-control-sm_customize_description_after_control"],
    [id="customize-control-sm_coloration_level_control"],
    [id="customize-control-sm_color_diversity_control"],
    [id="customize-control-sm_shuffle_colors_control"],
    [id="customize-control-sm_dark_mode_control"] {
      display: block !important;
    }
  }

  [id="customize-control-sm_spacing_bottom_control"][id] {
    display: block !important;
    min-height: 24px;
    flex-grow: 1;
  }
}

[id="customize-control-sm_color_palette_control"] {
  .customize-control-title,
  .customize-control-description {
    display: none;
  }
}

// display each palette filter on its own row
.customize-control-radio[class][id="customize-control-sm_palette_filter_control"] > .customize-inside-control-row:not(:only-of-type) {
  display: block;
  width: auto;
}

.color {
  &[class*="sm_color"][class*="_connected"],
  &[class*="sm_dark"][class*="_connected"],
  &[class*="sm_light"][class*="_connected"] {
    display: none;
  }
}

.c-color-palette__colors {
  position: relative;
}

.c-color-palette {
  canvas, svg {
    max-width: 100%;
    height: auto;
  }
}

.c-color-palette__fields {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 100;
}

[id="sub-accordion-section-sm_color_palettes_section"] > .customize-section-description-container {
  margin-bottom: 0;
  border-bottom: 1px solid #DFE8EF;
}

.sm-palette-filter {

  .colors {
    width: auto;
    height: auto;

    padding: 10px 10px;
    border-radius: 999em;
  }

  .picker:after {
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  }

  > label {
    position: relative;
    display: block;
    margin: 0 0 10px;

    &:hover .filter-label {
      opacity: 1;
    }
  }

  > input {
    display: none;
  }

  .filter-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity .2s ease-out;

    span {
      position: relative;
      z-index: 20;
    }

    &:after {
      content: "";
      display: block;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;

      width: 100%;
      height: 100%;

      background-color: #ffffff;
      box-shadow: #d6e0e5 0 0 0 1px;
      border-radius: 999em;
    }
  }

  > input:checked + label {

    .filter-label:after {
      background-color: #f7f9fa;
      box-shadow: none;
    }

    .colors {
      background-color: #f7f9fa;
      box-shadow: #57ABD5 0 0 0 2px;
    }
  }
}

.customize-control-sm_palette_filter .customize-control-title {
  display: none;
}

// FONT PALETTES OVERWRITES
#customize-control-sm_font_palette_control ~ .customize-control {
  display: none !important;
}

.pix_customizer_setting .font_palette[class][class] .customize-inside-control-row {
  height: auto;
  padding-top: 52%;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;

  &:before {
    border: 1px solid #DFE8EF;
    border-radius: 6px;
  }

  &:before,
  &:hover:before {
    box-shadow: 0 1px 0 0 #B8DAEB;
  }

  input {
    display: none;
  }

  label {
    border-radius: 6px;
    left: 0;
  }

  input + label {
    border: 2px solid transparent;
  }

  input:checked + label {
    border-color: #57ABD5;
  }

  .label__inner {
    display: none;
  }
}

// remove ugly top border top
#customize-theme-controls .control-panel-content:not(.control-panel-nav_menus) .control-section:nth-child(2),
#customize-theme-controls .control-panel-nav_menus .control-section-nav_menu,
#customize-theme-controls .control-section-nav_menu_locations .accordion-section-title {
  border-top: 0;
}
