
//------------------------------------*\
//    CUSTOMIFY — COLOR SCHEME
//------------------------------------*/

.wp-full-overlay-sidebar,
.customize-themes-panel,
#customize-sidebar-outer-content {
    background: $blue-white;
    border-right: 1px solid $border-color;
}

.outer-section-open #customize-controls .wp-full-overlay-sidebar-content,
.attachment-media-view, .media-widget-preview.media_audio, .media-widget-preview.media_image {
	background: $blue-white;
}

#customize-theme-controls {
	#accordion-section-menu_locations {
		border-bottom: 1px solid $border-color;
	}
}

#customize-controls {
	#accordion-section-themes {
		> .accordion-section-title {
		    font-weight: 600;
		    border-bottom: 1px solid $border-color;

		    &:hover {
		    	background: #FFFFFF;
		    }
		}
	}
	.panel-meta.customize-info {
		border-bottom-color: $border-color;
	}
}


#customize-theme-controls {

	.control-section {

		.accordion-section-title {
			font-weight: 400;
      border-top: 1px solid $border-color;
      border-bottom: none;
		}

		&:last-of-type > .accordion-section-title {
			border-bottom: 1px solid $border-color;
		}
	}

	.customize-section-title {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	}
}

#customize-controls .control-section {

   .accordion-section-title:focus,
   .accordion-section-title:hover,
   &.open .accordion-section-title,
   &:hover > .accordion-section-title {
     color: $blue-dark;
     background: $blue-white;
     border-left-color: $blue-white;
   }
}

.wp-customizer {

	.menu-item-edit-active .menu-item-handle,
  .section-open .menu-item-settings,
  .menu-item-bar .menu-item-handle:hover {
	    border-color: $border-color;
	}

	.section-open .menu-item-settings {
	    background: $blue-white;
	}

	.control-section-nav_menu .menu-location-settings {
	    border-top-color: $border-color !important;
	}
}

#customize-controls .customize-info .customize-panel-description,
#customize-controls .customize-info .customize-section-description,
#customize-outer-theme-controls .customize-info .customize-section-description,
#customize-controls .no-widget-areas-rendered-notice {
  color: $blue-dark;
  border-color: $border-color;
}

#customize-header-actions {
  background: #FFFFFF;
  border-color: $border-color;
}
