
//------------------------------------*\
//    CUSTOMIFY — COLOR SCHEME
//------------------------------------*/


$borders 			: #e0e8ef;
$background-hover 	: #f5fcff;

#customize-header-actions {
    background: #ffffff;
    border-color: $borders;
}



.wp-full-overlay-sidebar,
.customize-themes-panel {
    background: #eaf9fe;
    border-right: 1px solid $borders;
}

#customize-theme-controls {
	#accordion-section-menu_locations {
		border-bottom: 1px solid $borders;
	}
}

#customize-controls {
	#accordion-section-themes {
		&>.accordion-section-title {
		    font-weight: 600;
		    border-bottom: 1px solid $borders;

		    &:hover {
		    	background: #fff;
		    }
		}
	}
	.panel-meta.customize-info {
		// border-bottom: none;
		border-bottom-color: $borders;
	}
}


#customize-theme-controls {

	.control-section {
		.accordion-section-title {
			font-weight: 400;
		    border-top: 1px solid $borders;
		    border-bottom: none;
	        // transition: background 0.15s ease-in-out;
		}	
		&:last-of-type>.accordion-section-title {
			border-bottom: 1px solid $borders;
		}
	}

	.customize-section-title {
		border-top: 1px solid $borders;
		border-bottom: 1px solid $borders;
	}
}

#customize-controls .control-section .accordion-section-title:focus, #customize-controls .control-section .accordion-section-title:hover, #customize-controls .control-section.open .accordion-section-title, #customize-controls .control-section:hover>.accordion-section-title {
	color: #056184;
	background: $background-hover;
	border-left-color: $background-hover;
}