//------------------------------------*\
//    Widgets Options Accordion System
//------------------------------------*/
#customize-theme-controls .widget-content {

  .accordion-container {

    // Stick the container to the margins
    margin-left: -10px;
    margin-right: -10px;

    margin-top: 20px;
    margin-bottom: 10px;

    .accordion-section {

      .accordion-section-content {
        position: relative;
        left: 0;

        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;

        overflow: hidden;
        transition: all .4s ease;

        color: $blue-dark;

        p {
          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .accordion-section-title {
        color: #39474D;

        &:after {
          content: "\f142"; // Change arrow style to be more consistent
          transform: rotate(180deg);
        }
      }

      &.open {
        border-bottom: none;

        .accordion-section-content {
          max-height: 100%;
          padding-top: 17px; //default
          padding-bottom: 17px; //default
        }

        .accordion-section-title {
          border-bottom: 1px solid;

          &:after {
            transform: rotate(0deg);
          }
        }
      }
    }

    label.customize-control-title {
      cursor: default;
    }
  }
}

.widget {
  .widget-content {
    > p {
      input[type=checkbox],
      input[type=radio] {
        margin-bottom: 3px;
        margin-top: 3px;
      }
    }

    small {
      margin-top: 5px;
      display: block;
    }
  }
}


// Widgets Icons
#available-widgets {
  [class*=pixelgrade],
  [class*=featured-posts],
  [class*=categories-image-grid] {
    .widget .widget-title:before {
      content: "\f538";
      color: #9660c6; // Branding Icons
    }
  }

  // Slideshow
  [class*=pixelgrade-featured-posts-slideshow] .widget .widget-title:before {
    content: "\f233"; // images-alt2
  }

  // Carousel
  [class*=pixelgrade-featured-posts-carousel] .widget .widget-title:before {
    content: "\f169";
  }

  // Grid Posts
  [class*=featured-posts-grid] .widget .widget-title:before {
    content: "\f180";
  }

  // List Posts
  [class*=featured-posts-list] .widget .widget-title:before {
    content: "\f164";
  }

  // Categories Image
  [class*=categories-image-grid] .widget .widget-title:before {
    content: "\f163"; // list-view
  }

  // Promo Box
  [class*=pixelgrade-promo-box] .widget .widget-title:before {
    content: "\f488"; // Megaphone
  }
}

//------------------------------------*\
//    Jetpack Widget Visibility
//------------------------------------*/

.wp-customizer .widget-conditional {

  .condition-control {
    @include clearfix;
  }

  .selection {
    padding-right: 50px;
    padding-left: 28px;
    padding-bottom: 19px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $border-color;
  }

  .condition:last-child .selection {
    border: 0;
  }

  select {
    max-width: 100%;
    width: 170px;
  }

  .condition-top select {
    width: 130px;
  }
}
