/* This stylesheet is used to style the admin option form of the plugin. */

.extendable_options {
	height: 0;
	overflow: hidden;
}

fieldset.group {
	border-left:1px solid #333;
	padding-left: 20px;
}

.postbox {
	h3.hndle {
		padding: 7px;
		font-size: 15px;
	}

	.row {
		width: 100%;
		display: inline-block;
		padding: 5px 0;

		.field {
			width: 100%;
			display: inline-block;
			padding: 5px 0;
		}

		.group {
			border: 1px solid rgba(203, 203, 203, 0.20);
			background-color: rgba(203, 203, 203, 0.20);
			padding-left: 15px;
			margin-left: 5px;
		}
	}
	.uninstall_area {
		margin-top: 15px;
	}
}