@charset "UTF-8";

@import 'variables';
@import 'mixins';

@import "reset";

@import "sidebar-header";
@import "sidebar-footer";


@import "accordion-section-title";
@import "customize-control";

@import "style-manager/core";

@import 'balloon';
@import 'feedback-modal';
@import 'select2';

//------------------------------------*\
//    COLOOR OVERWRITES
//------------------------------------*/

#customize-controls {
  background: $blue-white;
  border-color: $border-color;

  .customize-info {
    border-color: $border-color;
  }
}

#customize-header-actions,
#customize-footer-actions {
  background: $white;
  border-color: $border-color;
}

#customize-controls .customize-info .customize-panel-description,
#customize-controls .customize-info .customize-section-description,
#customize-outer-theme-controls .customize-info .customize-section-description,
#customize-controls .no-widget-areas-rendered-notice {
  padding: $container-spacing;
  border-color: $border-color;
  background: $white;
  color: $blue-dark;
}

#customize-theme-controls .customize-pane-child.accordion-section-content {
  padding: $container-spacing;
}

.customize-section-title {
  margin: -$container-spacing;
  margin-bottom: 0;
  border-color: $border-color;
}

.wp-full-overlay-sidebar-content .accordion-section-content {
  overflow: visible;
}

@import "animations";
@import "buttons";
@import "css-editor";
@import "import-demo";
@import "media-upload";
@import "section-navigation";
@import "separator";
@import "widgets";

@import "controls/color";
@import "controls/custom-background";
@import "controls/font";
@import "controls/preset";
@import "controls/radio-html";
@import "controls/radio-image";
@import "controls/typography";

@import "shame";
