@charset "UTF-8";
@import "compass";
//------------------------------------*\
//  VARIABLES
//------------------------------------*/
$accent 	: #3677bd;
$dark 		: #232527;
$gray 		: #303235;
$light 		: #cbcfd4;
$lighter 	: #3b3f45; //borders

$unit 		: 24px;
$popup 		: 275px;


//------------------------------------*\
//    RESETS
//------------------------------------*/
.wp-full-overlay-sidebar {
	* {
		-webkit-box-sizing 	: border-box;
		-moz-box-sizing 	: border-box;
		box-sizing 			: border-box;
	}
}

// Change sections overflow
.accordion-section-content {
	overflow:visible;
}

.customize-control {
	float: none;
	padding: 5px;
	min-height: 35px;
}

// Header – Close + Save Controls
#customize-header-actions {
	border-bottom: 0;
}




//------------------------------------*\
//    OBJECTS
//------------------------------------*/
%top-arrow {
	&:after {
        content: "";
        position: absolute;
        bottom:100%;
        right: 19px;
        border-collapse: separate;
        width: 0;
        height: 0;

        border-width: 0 9px 9px 9px;;
        border-style: solid;
        border-color: transparent transparent #eee transparent;
    }
}

%box-bg {
	position 	: absolute;
	top 		: 60px;
	right 		: -6px;
	z-index 	: 100000;
	width 		: $popup !important;
	padding 	: 12px;
	display 	: none;
	background 		: #fff;
	@include border-radius(3px);
	@extend %top-arrow;

	&.active {
		display:block;
	}

	&:after {
		right 			: 58px;
		border-color 	: transparent transparent #fff transparent;
	}
}

%icon-btn {
	position 	: absolute;
	top 		: -36px;
	right 		: 45px;
	display 	: block;
	height 		: 30px;
	width 		: 30px;
	margin 		: 0;
	padding 	: 0;
	border 		: none;
	background 	: #1d1e20;
	color 		: #5f6369;
	@include border-radius(100px);
	@include box-shadow(rgba(0, 0, 0, 0.1) 0 2px 0px inset);
	line-height : 30px;
	text-align 	: center;
	cursor 		: pointer;
	outline 	: none;

	&:before {
		font-family: 'Elusive-Icons';
		content: "\e669";
	}

	&:hover, &.active {
		background 	: $lighter;
	}

	&.active {
		@include box-shadow(rgba(0, 0, 0, 0.4) 0 1px 1px);
	}
}





//------------------------------------*\
//    COMPONENTS
//------------------------------------*/

/*
 * Color Picker
 */
.customize-control-color {
	.customize-control-title {
		float:left;
	}
	.customize-control-content {

	}

	.wp-picker-container {
		position 	: relative;
		float 		: right;
		top 		: -3px;


		.wp-picker-holder {
			position: relative;
		}

		.iris-picker {
			position 	: absolute;
			top 		: 54px;
			right 		: -13px;
			z-index 	: 1000;
			width 		: $popup !important;
			border-top 	: none;
			border-color: #DFDFDE;
			@include border-radius(0 0 3px 3px);
			background: white;

			.iris-picker-inner {

			}
			.iris-square {
				width 			: 215px !important;
				height 			: 173px !important;
				margin-right 	: 0;
			}
			.iris-strip {
				float 	: right;
				@include box-shadow(rgba(0,0,0,0.4) 0 1px 1px inset);
				.ui-slider-handle {
					border-color 	: #aaa !important;
					opacity 		: 1;
					@include box-shadow(none);
				}
			}
			.iris-palette {
				width : 24px !important;
				height : 24px !important;
				@include border-radius(50px);
				@include box-shadow(rgba(0,0,0,0.4) 0 1px 1px inset);
			}
		}

		.wp-picker-open+.wp-picker-input-wrap {
			position 	: absolute;
			z-index 	: 1000;
			top 		: 42px;
			right 		: -13px;
			width 		: $popup + 2; // border
			padding 	: 12px;
			background 	: #eee;
			border 		: 1px solid #DFDFDE;
			@include border-radius(3px 3px 0 0);
			@extend %top-arrow;

			input {

				&.wp-color-picker {
					float:left;
				}

				&.button {
					float:right;
				}
			}
		}
	}

	.wp-color-result{
		top 		: 0;
		height 		: 30px;
		width 		: 30px;
		margin 		: 0;
		padding 	: 0;
		border 		: none;
		@include border-radius(100px);
		@include box-shadow(rgba(0, 0, 0, 0.4) 0 2px 0px inset);

		&:after {
			display:none;
		}
	}
}


/**
 * CSS Editor Customizer
 */

// Panel
#accordion-panel-live_css_edit_panel {

}

// Section
#accordion-section-live_css_edit_section {
	// Ace Editor
	#css_editor {
		top: 70px;
		border-top: 10px solid white;
		overflow: visible;

		&:before {
			content: "";
			width: 48px;
			height: 10px;
			display: block;
			background: #e8e8e8;
			top: -10px;
			position: absolute;
			z-index: 10000000;
			left: 0;
		}
	}

	// Add Some Extra Spacing Around the Editor Content
	.ace_scroller {
		padding-left: 10px;
	}
}

// Increase the Customizer width when Editor is opened
.wp-full-overlay.editor_opened {

	margin-left: 500px;

	#customize-controls {
		width: 500px;
	}

	// Go back when the Customizer is collapsed
	&.collapsed #customize-controls {
		width: 300px;
	}
}



/**
 * Typography
 */
.customize-control-typography {

	&:not(:first-child) .customize-control-title {
		margin-top: 15px;
	}

	ul li {
		width: 48%;
		display: inline-table;

		&:nth-child(2n+1) {
			width: 45%;
			margin-right: 5%;
		}

		label {
			width: 100%;
			display: block;

			margin-top: 10px;
			margin-bottom: 5px;
		}

		select {
			width: 100%;
		}
	}

	.customify_typography_font_weight {

	}

	.customify_typography_font_subsets {
		// height: 28px;
	}
}

	.customize-control select[multiple].customify_typography_font_subsets {
		height: 28px;
	}

/**
 * Range Field
 */

.customize-control input[type="number"].range-value {
	width: auto;
	top:-5px;
	display: inline-block;
	position: relative;
	color: #555555;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #aaa;
	background-color: #f5f5f5;
	padding: 5px 10px;
	margin-left: 10px;
}

.range-value-arrow-before {
	z-index: 5;
	position: absolute;
	top: 6px;
	left: -5px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #f5f5f5;
	border-bottom: 7px solid transparent;
	content: '';
}
.range-value-arrow-after {
	z-index: 4;
	position: absolute;
	top: 6px;
	left: -6px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #aaa;
	border-bottom: 7px solid transparent;
	content: '';
}

/** presets*/
.radio_buttons {

	.customify_radio_button {
		border: none;
		display: inline-block;
		padding: 2px;
		margin: 3px;
		position: relative;
		overflow: hidden;
		height: auto;

		input[type="radio"] {
			opacity: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 9999;

			&:checked{

				&+label {
					background-color: #ebebeb;
					&:before {
						content: '>';
						color: inherit;
					}
					&:after {
						content: '<';
						color: inherit;
					}
				}

				&:before {
					opacity: 0;
				}
			}
		}


		label{
			position: relative;
			z-index: 999;
			border-left: 4px solid;
		}
	}

}

/**
 * Toolbar
 */
#customize-theme-controls #accordion-section-customify_toolbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 60px;
	overflow: hidden;

	.accordion-section-content {
		display:block !important;

		& > li {
			display: inline-block !important;
			width: auto;
		}
	}

	.accordion-section-title {
		display: none;
	}
}

/**
 *
 */
.reset_panel {
	position: absolute;
	bottom: -25px;
	right:0;
}

/** Resets */
.accordion-section-content {
	position: relative;
	padding-bottom: 50px;

	.reset_section.button {
		float: right;
	}
}


.reset_panel.button {
	bottom: -40px;
	right: 10px;
}