@mixin apply-variation( $i ) {

  @for $j from 0 through 11 {
    $index: #{ ( $i + $j ) % 12 };
    --sm-current-color-#{ $j }: var(--sm-color-#{ $index });
  }

  --sm-current-accent-color: var(--sm-accent-color-#{ $i });
  --sm-current-background-color: var(--sm-current-color-0);
  --sm-current-dark-color: var(--sm-dark-color-#{ $i });
  --sm-current-darker-color: var(--sm-darker-color-#{ $i });
}

@mixin apply-palette( $id ) {
  @for $i from 0 through 11 {
    --sm-color-#{ $i }: var(--sm-#{ $id }-color-#{ $i });
    --sm-accent-color-#{ $i }: var(--sm-#{ $id }-accent-color-#{ $i });
    --sm-dark-color-#{ $i }: var(--sm-#{ $id }-dark-color-#{ $i });
    --sm-darker-color-#{ $i }: var(--sm-#{ $id }-darker-color-#{ $i });
  }
}

@for $i from 0 through 11 {

  .sm-variation-#{ $i } {
    @include apply-variation($i);
  }
}

html {
  @include apply-palette(0);
  @include apply-variation(0);
}

@each $id in 0, 1, 2, success, error, warning, info {
  .sm-palette-#{ $id } {
    @include apply-palette( $id );
  }
}


html,
[class*="sm-variation-"] {
  background-color: var(--sm-current-background-color);
  color: var(--sm-current-dark-color);
}

