//------------------------------------*\
//    VARIABLES
//------------------------------------*/

:root {
  --sm-color-palette-neutral-color-1: #ffffff;
  --sm-color-palette-neutral-color-2: #f7f7f9;
  --sm-color-palette-neutral-color-3: #e4e6ec;
  --sm-color-palette-neutral-color-4: #c4c7d5;
  --sm-color-palette-neutral-color-5: #9c9fac;
  --sm-color-palette-neutral-color-6: #7c7f8c;
  --sm-color-palette-neutral-color-7: #696c78;
  --sm-color-palette-neutral-color-8: #565965;
  --sm-color-palette-neutral-color-9: #454853;
  --sm-color-palette-neutral-color-10: #333640;
  --sm-color-palette-neutral-color-11: #1f222b;
  --sm-color-palette-neutral-color-12: #101010;
  --sm-color-palette-neutral-text-color-1: #333640;
  --sm-color-palette-neutral-text-color-2: #1f222b;
}

:root {
  --sm-color-palette-accent-color-1: #ffffff;
  --sm-color-palette-accent-color-2: #f5f7fc;
  --sm-color-palette-accent-color-3: #dfe6f4;
  --sm-color-palette-accent-color-4: #afc2e3;
  --sm-color-palette-accent-color-5: #7fa1d4;
  --sm-color-palette-accent-color-6: #4d82c1;
  --sm-color-palette-accent-color-7: #006fbb;
  --sm-color-palette-accent-color-8: #085ba2;
  --sm-color-palette-accent-color-9: #0b4889;
  --sm-color-palette-accent-color-10: #0e3470;
  --sm-color-palette-accent-color-11: #0b1d55;
  --sm-color-palette-accent-color-12: #101010;
  --sm-color-palette-accent-text-color-1: #0e3470;
  --sm-color-palette-accent-text-color-2: #0b1d55;

  --sm-customizer-box-shadow-0:
    none;
  --sm-customizer-box-shadow-1:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.1);
  --sm-customizer-box-shadow-2:
    0 64px 128px rgba(0, 0, 0, 0.1),
    0 16px 32px rgba(0, 0, 0, 0.1);
  --sm-customizer-box-shadow-3:
    0 32px 128px rgba(0, 0, 0, 0.1),
    0 16px 64px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
  --sm-customizer-box-shadow-4:
    0 64px 128px rgba(0, 0, 0, 0.1),
    0 32px 64px rgba(0, 0, 0, 0.1),
    0 16px 32px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1);

  --sm-transition: all 0.2s ease;
}

$checkmark-svg-white: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSI5cHgiIHZpZXdCb3g9IjAgMCAxMiA5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGcgaWQ9ImNoZWNrIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjUgOSAxMiAyIDEwIDAgNSA1IDIgMiAtMS43NTkzMjk4M2UtMTUgNCI+PC9wb2x5Z29uPgogICAgPC9nPgo8L3N2Zz4=";
$select-svg-arrow-dark: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTVweCIgaGVpZ2h0PSI5cHgiIHZpZXdCb3g9IjAgMCAxNSA5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGcgaWQ9ImFycm93IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0iIzk4QzZERSIgZmlsbC1ydWxlPSJub256ZXJvIj4KICAgICAgICA8cG9seWdvbiBpZD0iYXJyb3ctc2hhcGUiIHBvaW50cz0iMTMuNDgxMiAwIDE1IDEuNTE0IDcuNSA5IDAgMS41MTQgMS41MTg4IDAgNy41IDUuOTY3MiI+PC9wb2x5Z29uPgogICAgPC9nPgo8L3N2Zz4=";
$select-svg-arrow-white: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTVweCIgaGVpZ2h0PSI5cHgiIHZpZXdCb3g9IjAgMCAxNSA5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGcgaWQ9ImFycm93IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0iI0ZGRkZGRiIgZmlsbC1ydWxlPSJub256ZXJvIj4KICAgICAgICA8cG9seWdvbiBpZD0iYXJyb3ctc2hhcGUiIHBvaW50cz0iMTMuNDgxMiAwIDE1IDEuNTE0IDcuNSA5IDAgMS41MTQgMS41MTg4IDAgNy41IDUuOTY3MiI+PC9wb2x5Z29uPgogICAgPC9nPgo8L3N2Zz4=";
$select-svg-arrow-white-up: "data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjkiIHdpZHRoPSIxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtLTEtMWg1ODJ2NDAyaC01ODJ6IiBmaWxsPSJub25lIi8+PHBhdGggZD0ibTEzLjQ4MTIgMCAxLjUxODggMS41MTQtNy41IDcuNDg2LTcuNS03LjQ4NiAxLjUxODgtMS41MTQgNS45ODEyIDUuOTY3MnoiIGZpbGw9IiNmZmYiIHRyYW5zZm9ybT0ibWF0cml4KC0xIDAgMCAtMSAxNSA5KSIvPjwvc3ZnPg==";
$select-dropdown-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.125);
$iris-box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.100);

:root {
  --customizer-spacing: 20px;
  --customizer-border-color: var(--sm-color-palette-neutral-color-3);
  --customizer-background-color: var(--sm-color-palette-neutral-color-2);
  --customizer-text-color: var(--sm-color-palette-neutral-text-color-1);

  --customizer-field-padding-x: 1em;
  --customizer-field-padding-y: 0.75em;
  --customizer-field-border-width: 2px;
  --customizer-field-border-color: var(--customizer-border-color);
  --customizer-field-focus-border-color: var(--sm-color-palette-accent-color-7);
  --customizer-field-border-radius: 4px;
  --customizer-field-background-color: var(--sm-color-palette-neutral-color-1);
  --customizer-field-text-color: var(--sm-color-palette-neutral-text-color-1);

  --customizer-field-font-size: 14px;
  --customizer-field-font-weight: normal;
  --customizer-field-line-height: 1.5;

  --customizer-select-focus-background-color: var(--sm-color-palette-accent-color-7);
  --customizer-select-focus-text-color: var(--sm-color-palette-neutral-color-1);

  --customizer-field-height: 44px;
  --customizer-checkbox-size: 22px;
}
