//------------------------------------*\
//    ACCORDION TITLES
//------------------------------------*/

#customize-controls h3.customize-section-title,
#customize-controls .customize-section-title h3 {
  padding: 10px $container-spacing 11px $container-spacing;

  color: $blue-dark;
  background: $white;
}

// General Accordion Titles styles and overwrites
#customize-theme-controls {

  .accordion-section-title {
    font-size: 14px;
    line-height: 21px;
    padding: 10px (2 * $container-spacing) 11px $container-spacing;

    color: $blue-dark;
    background: $white;
  }

  h3.accordion-section-title {
    font-weight: normal;
  }
}

#customize-theme-controls {

  .accordion-section {

    > .accordion-section-title {
      border: 0 solid $border-color;
    }

    &:last-of-type > .accordion-section-title {
      border-bottom: 1px solid $border-color;
    }

    &:not(.panel-meta) {

      > .accordion-section-title {
        border-top: 1px solid $border-color;
      }

      > .accordion-section-title:focus,
      &:hover > .accordion-section-title {
        background: $blue-white;
      }
    }
  }
}

// Sidebar header border color
#customize-theme-controls {

  .panel-meta > .customize-control-notifications-container,
  .customize-section-title > .customize-control-notifications-container {
    border-color: $border-color;
  }
}

// Theme Options panel and PRO Section should have some space after them to make theme stand out.
#customize-controls #customize-theme-controls .accordion-section {

  &[id*="theme_options_panel"],
  &[id*="accordion-section-pro__section"] {

    > .accordion-section-title {
      border-bottom-width: 1px;
      margin-bottom: 10px;
    }
  }
}

// Add icons to "Site Identity", "Style Manager" and "Theme Options" panels
// in order to make them stand out more
#customize-theme-controls {

  #accordion-section-title_tagline,
  #accordion-panel-style_manager_panel,
  #accordion-panel-theme_options_panel {

    .accordion-section-title {
      @include section-title-with-icon;

      &:before {
        color: $blue-lightest;
        order: 2;
      }
    }
  }

  #accordion-section-title_tagline > .accordion-section-title {

    &:before {
      content: "\f110";
      color: $blue-light;
    }

    img {
      display: none !important;
    }
  }

  #accordion-panel-style_manager_panel > .accordion-section-title:before {
    content: "\f155";
    font-size: 18px;
    color: #F8BC30;
  }

  #accordion-panel-theme_options_panel > .accordion-section-title:before {
    content: "\f538";
  }
}

