@import 'theme/accordion-section-title';
@import 'theme/header';
@import 'theme/separator';

//------------------------------------*\
//    COLOOR OVERWRITES
//------------------------------------*/
.customize-control.menu-item .menu-item-settings {
  background-color: $blue-white;
}

#customize-theme-controls {

  .control-panel-content:not(.control-panel-nav_menus) .control-section:nth-child(2),
  .control-panel-nav_menus .control-section-nav_menu,
  .control-section-nav_menu_locations .accordion-section-title {
    border-top: 0;
  }
}

#customize-controls {
  background: $blue-white;
  border-color: $border-color;

  .customize-info {
    border-color: $border-color;
  }
}

#customize-header-actions,
#customize-footer-actions {
  background: $white;
  border-color: $border-color;
}

#customize-theme-controls .customize-info .customize-panel-description,
#customize-theme-controls .customize-info .customize-section-description,
#customize-outer-theme-controls .customize-info .customize-section-description,
#customize-theme-controls .no-widget-areas-rendered-notice {
  padding: $container-spacing;
  border-color: $border-color;
  background: $white;
  color: $blue-darker;
}

#customize-theme-controls .customize-pane-child.accordion-section-content {
  padding: $container-spacing;
}

.customize-section-title {
  margin: -$container-spacing;
  margin-bottom: 0;
  border-color: $border-color;
}

.wp-full-overlay-sidebar-content .accordion-section-content {
  overflow: visible;
}
