.sm-presets-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.sm-presets-preview {
  position: relative;

  background-position: center center;
  background-size: cover;

  &.sm-presets-preview--active,
  &:hover {

    .sm-presets-preview__pixel {
      top: 0;
      flex-grow: 1;
    }
  }

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.sm-presets-preview__quote {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;
  padding: 1.2em;

  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;

  opacity: 0;
  transition: opacity .2s ease-out;
}

.sm-presets-preview__stripes {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row-reverse;
}

.sm-presets-preview--active {

  .sm-presets-preview__quote {
    opacity: 1;
    transition-delay: .3s;
  }

  .sm-presets-preview__stripe:not(.sm-presets-preview__stripe-w4) {
    flex-grow: 0;
  }
}

.sm-presets-preview__stripe {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  transition: all .5s cubic-bezier(0.540, -0.470, 0.100, 1.000);
}

@for $i from 1 through 9 {
  .sm-presets-preview__stripe-p#{ $i } {
    .sm-presets-preview__pixel {
      top: #{$i * 10%}
    }
  }
}

.sm-presets-preview__pixel {
  position: relative;
  padding-top: 100%;
  background: currentColor;
  transition: all .5s cubic-bezier(0.540, -0.470, 0.100, 1.000);
}

@each $w in 1, 2, 4 {
  .sm-presets-preview__stripe-w#{ $w } {
    flex-grow: $w;
  }
}
