.sm-radio-group {
  position: relative;
  overflow: hidden;

  height: 2.7em;

  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  color: var(--sm-color-palette-neutral-color-9);
  border-radius: 999em;

  font-size: var(--customizer-field-font-size);
  font-weight: 600;
  line-height: 1.142em;

  -webkit-font-smoothing: antialiased;

  > * {
    flex: 1 1 0;
  }

  &:after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: var(--customizer-field-border-width) solid var(--sm-color-palette-accent-color-7);
    border-radius: 999em;
    pointer-events: none;
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      background-color: var(--sm-color-palette-accent-color-7);
      color: var(--sm-color-palette-neutral-color-1);

      &:before {
        content: "";

        display: inline-block;
        color: inherit;

        position: relative;
        top: .285em;
        margin-right: .45em;

        height: .8em;
        width: .55em;

        border-right: 2px solid;
        border-bottom: 2px solid;

        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    cursor: pointer;
    transition: all .25s ease;

    color: inherit;
    background: var(--sm-color-palette-neutral-color-1);

    &:nth-of-type(2) {
      border: solid var(--sm-color-palette-accent-color-7);
      border-width: 0 var(--customizer-field-border-width);
    }
  }

  [id="customize-control-sm_coloration_level_control"] & {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;

    > * {
      flex: 0 0 33.33%;
    }

    input[type="radio"] {

      &:last-of-type:checked + label {
        background: linear-gradient(90deg, #3DAAE0 0%, #D557BE 100%);
      }

      &:nth-of-type(1):checked,
      &:nth-of-type(2):checked {

        ~ label:last-of-type {
          margin-right: -33.33%;
        }
      }
    }

    label {
      &:nth-of-type(1) {
        order: 4;
      }

      &:nth-of-type(2) {
        order: 3;
        border-left: 2px solid var(--sm-color-palette-accent-color-7);
        border-right: 2px solid var(--sm-color-palette-accent-color-7);
      }

      &:nth-of-type(3) {
        order: 2;
      }

      &:nth-of-type(4) {
        order: 1;
        border-left: 2px solid var(--sm-color-palette-accent-color-7);
      }
    }
  }

  + .description {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
