@mixin dropdown-arrow {

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 25px;

    border: 10px solid transparent;
  }

  &:before {
    z-index: 100;
    border-bottom-color: $blue-lightest;
    border-width: 11px;
  }

  &:after {
    z-index: 101;
    border-bottom-color: $blue-white;
    margin-right: 1px;
  }
}
