@mixin field {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 10px 14px;
  margin: 0;

  border: 2px solid $border-color;
  border-radius: $fields-border-radius;
  background: $white;
  color: $blue-dark;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;

  transition: all .2s ease-out;
  transition-property: color, background-color, border-color;

  outline: 0;

  &:focus {
    border-color: $blue;
    box-shadow: none;
  }
}

@mixin input {
  @include field;
  height: $fields-height;
}

@mixin field-select {
  padding-right: 44px;
  height: $fields-height;

  background-image: url($select-svg-arrow-dark);
  background-repeat: no-repeat;
  background-position: right 16px top 16px;
}

@mixin select {
  @include field;
  @include field-select;
}

@mixin select-focus {
  border-color: $blue;
  background-color: $blue-light;
  background-image: url($select-svg-arrow-white);
  color: #FFFFFF;
}
