@mixin section-title-with-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:before {
    font-family: dashicons;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
  }
}
