@mixin top-arrow {

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 12px;

    width: 0;
    height: 0;

    border: 9px solid transparent;
  }

  &:before {
    z-index: 100;
    border-bottom-color: $blue-lightest;
    border-width: 10px;
  }

  &:after {
    z-index: 101;
    border-bottom-color: #FFFFFF;
    margin-right: 1px;
  }
}
