//------------------------------------*\
//    COLOR PALETTES
//------------------------------------*/

.customize-control-color-palette {

  .customize-inside-control-row {
    position: relative;

    display: block;
    width: 100% !important;
    height: 64px;
    margin-left: 0 !important;
    overflow: hidden;

    text-indent: 0 !important;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;

    + .customize-inside-control-row {
      margin-top: 15px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      pointer-events: none;

      box-shadow: $palette_box_shadow;
    }

    // Color Palette Hover
    &:hover {

      &:before {
        // Increase the inner shadow strongness
        box-shadow: $palette_box_shadow_stronger;
      }

      .palette__item {
        transform: translateY(0%);
      }

      label {
        left: 10px;
      }
    }

    input {
      opacity: 0;
    }

    input:checked + label {
      .preview__letter--checked {
        display: inline-block;
        vertical-align: middle;
      }
      .preview__letter {
        display: none;
      }
    }

    label {
      position: absolute;
      display: flex;
      z-index: 2;

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      padding: 0 10px;
      margin-top: 0 !important;
      align-items: center;

      transition: all .3s ease;
    }

    .palette {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;

      transition: all .2s ease;
    }

    // Colors Bars
    .palette__item {
      flex: 1;
      transform: translateY(100%);

      transition: all .3s ease;

      // Assume maximum 10 colors
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: 0s + $i/20 - 1/20;
        }
      }
    }

    .preview__letter,
    .preview__letter--checked {
      display: inline-block;
      padding: 3px;
      border-radius: 2px;
      color: #FFFFFF;
      margin-right: 5px;
      min-height: 26px;
      min-width: 26px;
      text-align: center;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 15px 15px;
      font-style: normal;
      vertical-align: baseline;
    }

    .preview__letter--checked {
      display: none;
    }
  }
}

[id*="sm_current_color_palette_control"] {
  .customize-inside-control-row .palette__item[class] {
    transform: none;
  }

  .variation-control {
    display: flex;
  }
}

/// ------------------

$palette_height: 64px;
$palette_border-radius: 5px;

.label {
  margin-right: auto;
}

.label__inner {
  color: #000000;
  background: #F5F6F1;

  padding: 7px 12px 7px 7px;
  z-index: 2;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#customize-theme-controls [id*="sm_current_color_palette_control"] {
  display: block;
  width: auto;

  .color-palette-container {
    background: #FFFFFF;

    .description {
      margin-bottom: 15px;
    }
  }

  .description.c-color-palette__notification {
    padding-top: 19px;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: bold;
  }
}

.c-color-palette__fields {
  position: relative;
}

.c-color-palette .iris-picker {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;

  margin-top: 1em;
  border: 0;

  box-shadow: black 0 3px 12px -4px;

  .iris-square-handle {
    border-color: transparent;
    left: -6px;
    top: -6px;

    &:after {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      border: 2px solid $border-color;
    }
  }

  .iris-square-value {
    box-shadow: none !important;
  }
}

input.c-color-palette__input[class] {
  margin-top: 1em;
}

#customize-control-sm_toggle_advanced_settings_control {
  margin-bottom: 0;
  opacity: 0;

  button {
    width: 100%;
  }
}


.customize-control-color .wp-picker-container .iris-picker {

  .iris-palette-container {
    display: flex;
    width: 215px;
  }

  .iris-palette {
    width: auto !important;
    height: auto !important;
    flex: 1 1 0;
    float: none;

    &:after {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
}

.c-color-palette {
  padding: 30px 20px 18px;
}

[id="sub-accordion-section-sm_color_palettes_section"] {

  [id="customize-control-sm_advanced_palette_output_control"],
  [id="customize-control-sm_text_color_switch_master_control"],
  [id="customize-control-sm_text_color_select_master_control"],
  [id="customize-control-sm_accent_color_switch_master_control"],
  [id="customize-control-sm_accent_color_select_master_control"] {
    display: none !important;
  }

  [id="customize-control-sm_current_color_palette_control"] ~ * {
    display: none !important;
  }

  [id="customize-control-sm_palettes_description_control"],
  [id="customize-control-sm_palettes_description_after_control"],
  [id="customize-control-sm_filters_description_control"],
  [id="customize-control-sm_filters_description_after_control"],
  [id="customize-control-sm_customize_description_control"],
  [id="customize-control-sm_customize_description_after_control"] {
    span {
      margin: 0;
    }
  }

  [id="customize-control-sm_filters_description_after_control"][id].customize-control {
    padding-top: $container-spacing;
  }

  &.sm-view-palettes {
    [id="customize-control-sm_palettes_description_control"],
    [id="customize-control-sm_palettes_description_after_control"],
    [id="customize-control-sm_color_palette_control"] {
      display: block !important;
    }
  }

  &.sm-view-filters {
    [id="customize-control-sm_filters_description_control"],
    [id="customize-control-sm_filters_description_after_control"],
    [id="customize-control-sm_palette_filter_control"] {
      display: block !important;
    }
  }

  &.sm-view-customize {
    [id="customize-control-sm_customize_description_control"],
    [id="customize-control-sm_customize_description_after_control"],
    [id="customize-control-sm_coloration_level_control"],
    [id="customize-control-sm_color_diversity_control"],
    [id="customize-control-sm_shuffle_colors_control"],
    [id="customize-control-sm_dark_mode_control"],
    [id="customize-control-sm_dark_mode_advanced_control"] {
      display: block !important;
    }
  }
}

[id="customize-control-sm_color_palette_control"] {
  .customize-control-title,
  .customize-control-description {
    display: none;
  }
}

.color {
  &[class*="sm_color"][class*="_connected"],
  &[class*="sm_dark"][class*="_connected"],
  &[class*="sm_light"][class*="_connected"] {
    display: none;
  }
}

.c-color-palette__colors {
  position: relative;
}

.c-color-palette {
  canvas, svg {
    max-width: 100%;
    height: auto;
  }
}

.c-color-palette__fields {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 100;
}

[id="sub-accordion-section-sm_color_palettes_section"] > .customize-section-description-container {
  margin-bottom: 0;
}

// remove ugly top border top
#customize-theme-controls .control-panel-content:not(.control-panel-nav_menus) .control-section:nth-child(2),
#customize-theme-controls .control-panel-nav_menus .control-section-nav_menu,
#customize-theme-controls .control-section-nav_menu_locations .accordion-section-title {
  border-top: 0;
}
