$palette_box_shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
$palette_box_shadow_stronger: inset 0 0 3px 0 rgba(0, 0, 0, 0.4);

@import "sm-palette-filter";
@import "sm-radio-group";
@import "sm-switch";
@import "sm-tabs";

@import "colors";
@import "panel";

@import "color-palettes";
@import "font-palettes";

[id="sub-accordion-section-sm_color_palettes_section"],
[id="sub-accordion-section-sm_font_palettes_section"] {
  display: flex !important;
  flex-direction: column;
  padding: $container-spacing 0 0 !important;
  overflow: hidden;

  > * {
    flex-grow: 0;
    padding: 0 $container-spacing;
  }
}

[id="customize-control-sm_current_color_palette_control"],
[id="customize-control-sm_current_font_palette_control"] {

  &[id] {
    margin-bottom: 0;

    & ~ .customize-control {
      background-color: #FFFFFF;
      margin-top: 0;
      padding: 24px 20px 0;
    }
  }
}

#customize-control-sm_color_palette_control,
#customize-control-sm_font_palette_control {
  flex-shrink: 0;
  margin-bottom: 0;
  padding-top: $container-spacing;
}

[id="customize-control-sm_color_palettes_spacing_bottom_control"][id],
[id="customize-control-sm_font_palettes_spacing_bottom_control"][id] {
  display: block !important;
  min-height: 24px;
  flex-grow: 1;
}
