//------------------------------------*\
//    FONT PALETTES
//------------------------------------*/

.customize-control-font-palette {

  .customize-inside-control-row {
    position: relative;

    padding-top: 52%;
    overflow: hidden;

    background-color: $white;
    background-size: contain;
    background-position: right center;
    border-radius: $fields-border-radius;

    & + .customize-inside-control-row {
      margin-top: 15px;
    }

    input {
      display: none;
    }

    input + label {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      border: 2px solid $border-color;
      border-radius: inherit;
    }

    &:hover input + label {
      border-color: $blue-lightest;
    }

    input:checked + label {
      border-color: $blue;
    }
  }
}

// hide master font fields
#customize-control-sm_font_palette_control ~ .customize-control {
  display: none !important;
}
