$sm-panel-id: unquote( '#sub-accordion-panel-style_manager_panel' );
$sm-colors-id: unquote( '#accordion-section-sm_color_palettes_section' );
$sm-fonts-id: unquote( '#accordion-section-sm_font_palettes_section' );

// simplify Style Manager panel header
#customize-controls {

  #{$sm-panel-id} {
    height: 100%;

    .preview-notice {
      visibility: hidden;
    }

    .panel-title {
      visibility: visible;
      font-size: 20px;
      font-weight: 400;
      color: $blue-dark;
    }

    .customize-help-toggle {
      display: none;
    }

    .customize-panel-description {
      display: block;
      padding: 0 $container-spacing $container-spacing;
      font-size: 14px;
    }

    .panel-meta {

      &,
      .customize-panel-back,
      .accordion-section-title,
      .customize-panel-description {
        background: transparent;
        border: 0;
        margin: 0;
      }
    }

    /* .customize-panel-back {
      position: absolute;
      bottom: 0;
      left: 0;

      display: flex;
      align-items: center;

      width: 100%;
      height: auto;
      min-height: 0;
      padding: $container-spacing;
      border-top: 1px solid $border-color;

      font-size: 14px;

      float: none;

      &:before {
        content: "\f340";
        position: static;
        line-height: 1;
        margin-right: $container-spacing / 2;
        color: $blue;
        transform: none;
      }

      &:after {
        content: "Go back";
        display: block;
        margin-bottom: 0.1em;
        color: $blue-dark;
      }
    } */

    .customize-panel-back {
      min-height: 74px;
    }

    .panel-meta .accordion-section-title {
      flex-basis: 100%;
    }
  }
}

// Add spacing and borders between section toggle buttons
#customize-controls {

  #{$sm-colors-id} > .accordion-section-title {
    border-bottom: 1px solid $border-color;
  }

  #{$sm-colors-id} + #{$sm-fonts-id} > .accordion-section-title {
    margin-top: $fields-spacing / 4;
    border-top-width: 1px;
  }
}

// Make icons stand out
#customize-controls {

  #{$sm-colors-id},
  #{$sm-fonts-id} {

    > .accordion-section-title {
      @include section-title-with-icon;
      justify-content: flex-start;

      &:before {
        width: 2em;
        height: 2em;
        margin-right: 15px;
        padding-left: 0.1em;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        background-color: $blue-light;
        color: $blue-white;

        border-radius: 50%;
      }
    }
  }

  #{$sm-colors-id} > .accordion-section-title:before {
    content: "\f100";
  }

  #{$sm-fonts-id} > .accordion-section-title:before {
    content: "\f122";
  }
}
