
.sm_color_matrix {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;

  > * {
    display: grid;
    grid-auto-rows: 2px;
    grid-auto-columns: 2px;

    flex: 0 0 percentage(1/3);
    padding-top: 15px;
    padding-left: 15px;

    > * {
      background-color: currentColor;
      border-radius: 50%;
      border: 1px solid #ccc;
      animation-duration: 0.75s;
      animation-name: bounceIn;
    }

    > :nth-child(1) { grid-area: 16 / 12 / span 12 / span 12; }
    > :nth-child(2) { grid-area: 26 / 24 / span 4 / span 4; }
    > :nth-child(3) { grid-area: 13 / 24 / span 4 / span 4; }
    > :nth-child(4) { grid-area: 8 / 8 / span 8 / span 8; }
    > :nth-child(5) { grid-area: 32 / 8 / span 4 / span 4; }
    > :nth-child(6) { grid-area: 30 / 16 / span 8 / span 8; }
    > :nth-child(7) { grid-area: 4 / 20 / span 8 / span 8; }
    > :nth-child(8) { grid-area: 17 / 26 / span 8 / span 8; }
    > :nth-child(9) { grid-area: 22 / 2 / span 8 / span 8; }
    > :nth-child(10) { grid-area: 28 / 11 / span 2 / span 2; }
    > :nth-child(11) { grid-area: 9 / 31 / span 6 / span 6; }
    > :nth-child(11) { grid-area: 26 / 30 / span 9 / span 9; }
    > :nth-child(12) { grid-area: 17 / 7 / span 4 / span 4; }
    > :nth-child(13) { grid-area: 19 / 36 / span 6 / span 6; }
    > :nth-child(14) { grid-area: 12 / 18 / span 2 / span 2; }
    > :nth-child(n+15) { display: none; }
  }
}
