.sm-palette-filter {

  .sm-color-palette__colors {
    width: auto;
    height: auto;

    padding: 10px 10px;
    border-radius: 999em;
  }

  .sm-color-palette__picker:after {
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  }

  > label {
    position: relative;
    display: block;
    margin: 0 0 10px;

    &:hover .filter-label {
      opacity: 1;
    }
  }

  > input {
    display: none;
  }

  .filter-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity .2s ease-out;

    span {
      position: relative;
      z-index: 20;
    }

    &:after {
      content: "";
      display: block;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;

      width: 100%;
      height: 100%;

      background-color: $white;
      box-shadow: $border-color 0 0 0 1px;
      border-radius: 999em;
    }
  }

  > input:checked + label {

    .filter-label:after {
      background-color: $blue-white;
      box-shadow: none;
    }

    .sm-color-palette__colors {
      background-color: $blue-white;
      box-shadow: $blue 0 0 0 2px;
    }
  }
}

.customize-control-sm_palette_filter .customize-control-title {
  display: none;
}

// display each palette filter on its own row
.customize-control-radio[class][id="customize-control-sm_palette_filter_control"] > .customize-inside-control-row:not(:only-of-type) {
  display: block;
  width: auto;
}
