.dropzone {

  > :not(:first-child) {
    margin-top: var(--customizer-spacing);
  }
}

.dropzone-container {
  position: relative;

  margin: 0;

  text-align: center;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .sm-presets-preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;
  }
}

.dropzone-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px dashed var(--sm-color-palette-accent-color-4);
  border-radius: 0.5em;

  background: var(--sm-color-palette-accent-color-2);
}

.dropzone-info {
  padding: 1em;
}

.dropzone-info-icon {
  margin-bottom: 10px;

  svg {
    display: block;
    width: 32px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.dropzone-info-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.03em;
}

.dropzone-info-anchor {
  color: var(--sm-color-palette-accent-color-6);
  text-decoration: underline;
}

.dropzone-description {
  margin-top: 0;
  margin-bottom: 1em;
}

.dropzone-image-source {
  display: none;
}

.dropzone-canvas {
  display: none;
}

img:not([src]) {
  display: none;
}

.dropzone-image-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
