.palette-preview {
  padding: 5em 0;
}

.palette-preview-set {
  position: relative;

  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;

  --swatch-gap: 0.25em;


  padding: 2em 0;
}

.palette-preview-swatches {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex: 1 1 auto;
  width: calc(100% / 12);
}

.palette-preview-swatches--current {
  align-items: center;

  .palette-preview-swatches__card-bottom {
    flex-basis: 18px;
  }
}

.palette-preview-swatches__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  > * {
    width: 100%;
    flex: 0 0 18px;
  }

  .palette-preview-swatches--current & {
    min-width: 14em;
  }

  .palette-preview-swatches--text & {
    background-color: var(--sm-current-fg1-color);
  }

  .palette-preview-swatches--current &,
  .palette-preview-swatches--accent &,
  .palette-preview-swatches--text & {
    position: relative;
    margin: -2em 0;
    box-shadow: 0 0 16px rgb(0 0 0 / 10%);
    background-color: var(--sm-current-bg-color);
  }
}

.palette-preview-swatches__row {
  height: 20px;
  background-color: var(--sm-current-fg1-color);

  &:last-child {
    width: 70%;
  }

  & + & {
    margin-top: 10px;
  }
}

.palette-preview-swatches__button {
  padding: 0.25em 1.25em;
  border-radius: 0.25em;
  font-size: 1.25em;
  display: inline-block;
}

.palette-preview-swatches__card-top {
  background-color: var(--sm-current-accent-color);
}

.palette-preview-swatches--accent,
.palette-preview-swatches--text {

  .palette-preview-swatches__card-top {
    flex-basis: 0;
  }
}

.palette-preview-swatches__card-content {
  flex-grow: 1;

  > * + * {
    margin-top: 20px;
  }

  .palette-preview-swatches--current & {
    padding: 3em 2em 4em;
  }
}

.palette-preview-swatches__card-bottom {
  flex-basis: 0;
  background-color: var(--sm-current-accent-color);
}

.palette-preview-source {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;

  margin-left: -5em;
  width: 5em;

  > :not(:first-child) {
    margin-right: -1em;
  }
}

.palette-preview-source-color {
  width: 2em;
  flex: 0 1 auto;

  background: currentColor;
  border-radius: 50%;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}
