.c-palette-builder {

  > * + * {
    margin-top: 15px;
  }
}

.c-palette-builder__source-list {

  & + & {
    margin-top: 10px;
  }
}

[class][class] {

  .c-palette-builder__source-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    > * + * {
      margin-left: 5px;
    }
  }
}
