[id][id="customize-control-sm_advanced_palette_source_control"] {
  padding-top: calc( 2 * var(--customize-control-spacing-y) );
  padding-bottom: calc( 2 * var(--customize-control-spacing-y) );
  border-bottom: var(--customizer-border-color);
  background-color: var(--sm-customizer-color-1);
}

.c-palette-builder {

  > * + * {
    margin-top: var(--sm-customizer-spacing);
  }
}

.c-palette-builder__source-list {

  & + & {
    margin-top: 10px;
  }
}

.c-palette-builder__source-item-label[class][class] {
  font-size: inherit;
  line-height: inherit;

  padding: 0;
  border: 0;
  background: none;
}

.c-palette-builder__source-item-picker {
  position: relative;

  .sketch-picker {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;

    margin-top: 0.66em;
  }

  &.active .c-palette-builder__source-item-preview {
    box-shadow: var(--sm-customizer-color-6) 0 0 0 var(--customizer-field-border-width);
  }
}

.c-palette-builder__source-item-preview {
  width: 2.4em;
  height: 2.4em;
  margin-right: .4em;
  background-color: currentColor;
  border-radius: 50%;
  flex: 0 0 auto;

  border: var(--customizer-field-border-width) solid var(--sm-customizer-color-2);
}

[class][class] {

  .c-palette-builder__source-item {
    display: flex;
    align-items: center;

    font-size: 15px;
    line-height: 1.5;

    padding: 0.6em;
    margin-bottom: 0.6em;

    background: var(--sm-customizer-color-2);
    transition: var(--sm-transition);
    transition-property: box-shadow;

    &:not(:last-child) {
      padding-bottom: 0.4em;
      margin-bottom: 0.2em;
    }

    &:not(:first-child) {
      padding-top: 0.4em;
    }

    &:first-child {
      border-top-left-radius: 1.75em;
      border-top-right-radius: 1.75em;
    }

    &:last-child {
      border-bottom-left-radius: 1.75em;
      border-bottom-right-radius: 1.75em;
    }

    &:hover {
      box-shadow: var(--sm-customizer-box-shadow-1);
    }

    .c-contextual-menu {
      transition: var(--sm-transition);
      transition-property: opacity;
    }

    &:not(:hover) .c-contextual-menu {
      opacity: 0;
    }

    > * + * {
      margin-left: 5px;
    }
  }
}

.customize-control {

  // hide color master controls
  &[id*="sm_advanced_palette_output"],
  &[id*="sm_text_color_switch_master"],
  &[id*="sm_accent_color_switch_master"],
  &[id*="sm_text_color_select_master"],
  &[id*="sm_accent_color_select_master"] {
    display: none;
  }

  // hide connected fields sliders
  &[id*="sm_dark_color_switch_slider"],
  &[id*="sm_dark_color_select_slider"] {
    display: none;
  }
}
