@import 'theme/accordion-section-title';
@import 'theme/header';
@import 'theme/separator';

//------------------------------------*\
//    COLOOR OVERWRITES
//------------------------------------*/
.customize-control.menu-item .menu-item-settings {
  background-color: var(--customizer-background-color);
}

.customize-section-description-container + #customize-control-custom_css:last-child {
  margin: 0;
  padding: 0;
  width: auto;
}

.customize-section-title {
  margin: 0;
  background: var(--sm-color-palette-neutral-color-1);
  border-color: var(--customizer-border-color);
}

.customize-section-description[class] {
  margin-top: 0;
  padding: var(--customizer-spacing);
  background: var(--sm-color-palette-neutral-color-1);
}

#customize-controls[id] {
  color: var(--sm-color-palette-neutral-text-color-1);
  background: var(--customizer-background-color);
  border-color: var(--customizer-border-color);

  .customize-info.is-in-view,
  .customize-section-title.is-in-view {
    z-index: 100;
    box-shadow: none;
  }

  .description {
    color: inherit;
  }

  .accordion-section-content {
    padding: 0;
    color: inherit;
  }

  .control-panel-content:not(.control-panel-nav_menus) .control-section:nth-child(2),
  .control-panel-nav_menus .control-section-nav_menu,
  .control-section-nav_menu_locations .accordion-section-title {
    border-top: 0;
  }

  .customize-info {
    border-color: var(--customizer-border-color);

    .customize-panel-description,
    .customize-section-description {
      padding: var(--customizer-spacing);
      border-color: var(--customizer-border-color);
      background: var(--sm-color-palette-neutral-color-1);
      color: var(--customizer-text-color);
    }
  }
}

#customize-header-actions,
#customize-footer-actions {
  background: var(--sm-color-palette-neutral-color-1);
  border-color: var(--customizer-border-color);
}
