//------------------------------------*\
//    Color Picker
//------------------------------------*/
$picker-popup-width: 275px;

.customize-control-color {
  display: block;

  .customize-control-title {
    float: left;
  }

  .wp-picker-container {
    position: relative;
    float: right;
    top: -3px;

    .wp-picker-holder {
      position: relative;
    }

    .wp-color-result,
    .wp-color-result.button {
      top: 0;
      height: 30px;
      width: 40px;
      margin: 0;
      padding: 0;

      border-radius: $fields-border-radius;
      background: #2ECC71;
      border: 2px solid $blue-lightest;
      box-shadow: none;

      &:after,
      .wp-color-result-text {
        display: none;
      }
    }

    .iris-picker {
      position: absolute;
      top: 40px;
      right: 0;
      z-index: 1000;
      width: $picker-popup-width !important;
      border-top: none;
      border-color: $blue-whitish;
      border-radius: 0 0 3px 3px;
      border: none;
      background: #FFFFFF;

      .iris-square {
        width: 215px !important;
        height: 173px !important;
        margin-right: 0;
      }

      .iris-strip {
        float: right;
        box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px inset;

        .ui-slider-handle {
          border-color: #aaa !important;
          opacity: 1;
          box-shadow: none;
        }
      }

      .iris-palette {
        width: 24px !important;
        height: 24px !important;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px inset;
      }
    }

    .wp-picker-open + .wp-picker-input-wrap {
      position: absolute;
      top: 35px;
      right: 0;
      z-index: 1000;

      width: $picker-popup-width;
      padding: 9px 12px;
      border: none;
      border-radius: 3px 3px 0 0;

      background: #FFFFFF;
      @include top-arrow;

      input {

        &.wp-color-picker {
          float: left;
          width: 100px;
          font-size: 13px;
          text-align: left;
          margin: 0;
          padding: 6px 12px;
          height: auto;
        }

        &.button {
          float: right;
          padding: 4px 12px;
          height: 30px;
        }
      }
    }
  }
}
