.customify_radio_image {
  display: inline-block;

  label {
    display: block;
    float: left;
    margin-right: 10px;
    position: relative;

    input[type=radio] {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;

      visibility: hidden;

      img {
        cursor: pointer;
        border: 2px solid transparent;
      }

      &:checked + img {
        border: 3px solid #73C5EE;
      }
    }
  }
}
