.customize-control-range {
  @include clearfix;

  input[type="range"] {
    float: left;
    width: calc(100% - 70px);
    margin: 3px 0 0;
  }

  input[type="number"] {
    width: 50px;
    height: auto;
    float: right;
    padding: 2px 2px 3px 3px;

    font-size: 13px;
    text-align: center;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
