//------------------------------------*\
//    TYPOGRAPHY
//------------------------------------*/

.customize-control-typography {

  // Font, Weight and Subsets selectors
  select {
    margin-bottom: 10px;
  }

  .description {
    margin-top: -3px;
  }

  ul li {
    width: 100%;
    margin: 0;
  }
}
