@mixin apply-palette( $id, $isShifted: false ) {

  @for $i from 1 through 12 {

    $suffix: $i;

    @if ( $isShifted ) {
      $suffix: #{ $i }-shifted;
    }

    --sm-bg-color-#{ $i }: var(--sm-color-palette-#{ $id }-bg-color-#{ $suffix });
    --sm-accent-color-#{ $i }: var(--sm-color-palette-#{ $id }-accent-color-#{ $suffix });
    --sm-fg1-color-#{ $i }: var(--sm-color-palette-#{ $id }-fg1-color-#{ $suffix });
    --sm-fg2-color-#{ $i }: var(--sm-color-palette-#{ $id }-fg2-color-#{ $suffix });
  }
}

@mixin apply-variation($i) {
  --sm-current-bg-color: var(--sm-bg-color-#{ $i });
  --sm-current-accent-color: var(--sm-accent-color-#{ $i });
  --sm-current-fg1-color: var(--sm-fg1-color-#{ $i });
  --sm-current-fg2-color: var(--sm-fg2-color-#{ $i });
}

html {
  @include apply-palette(1);
  @include apply-variation(1);
}

html,
[class*="sm-variation-"] {
  background-color: var(--sm-current-bg-color);
  color: var(--sm-current-fg1-color);
}

@for $i from 1 through 12 {

  .sm-variation-#{ $i } {
    @include apply-variation($i);
  }
}

@each $id in 1, 2, 3, _success, _error, _warning, _info {

  .sm-palette-#{ $id } {
    @include apply-palette( $id );
  }

  .sm-palette-#{ $id }.sm-palette--shifted {
    @include apply-palette( $id, true );
  }
}
