//------------------------------------*\
//    ACCORDION TITLES
//------------------------------------*/

// General Accordion Titles styles and overwrites
#customize-theme-controls {

  .control-section[class] {

    .accordion-section-title {
      font-weight: normal;
      padding: calc( 0.5 * var(--customizer-spacing) ) var(--customizer-spacing);
      padding-right: calc( 2 * var(--customizer-spacing) );

      color: var(--customizer-text-color);
      background: var(--sm-color-palette-neutral-color-1);
      border: 0 solid var(--customizer-border-color);
      border-top-width: 1px;

      &:after {
        color: var(--sm-color-palette-neutral-color-3);
      }
    }

    &:last-child > .accordion-section-title {
      border-bottom-width: 1px;
    }

    &:hover > .accordion-section-title {
      background: var(--sm-color-palette-accent-color-2);
      color: var(--sm-color-palette-accent-color-7);

      &:after {
        color: currentColor;
      }
    }
  }
}

// Theme Options panel and PRO Section should have some space after them to make theme stand out.
#customize-controls #customize-theme-controls .accordion-section {

  &[id*="theme_options_panel"],
  &[id*="accordion-section-pro__section"] {

    > .accordion-section-title {
      border-bottom-width: 1px;
      margin-bottom: 10px;
    }
  }
}

// Add icons to "Site Identity", "Style Manager" and "Theme Options" panels
// in order to make them stand out more
#customize-theme-controls {

  #accordion-section-title_tagline,
  #accordion-panel-style_manager_panel,
  #accordion-panel-theme_options_panel {

    .accordion-section-title {
      @include section-title-with-icon;

      &:before {
        color: var(--sm-color-palette-neutral-color-3);
        order: 2;
      }
    }
  }

  #accordion-section-title_tagline > .accordion-section-title {

    &:before {
      content: "\f110";
      color: var(--sm-color-palette-neutral-color-4);
    }

    img {
      display: none !important;
    }
  }

  #accordion-panel-style_manager_panel > .accordion-section-title:before {
    content: "\f155";
    font-size: 18px;
    line-height: 1;
    color: #F8BC30;
  }

  #accordion-panel-theme_options_panel > .accordion-section-title:before {
    content: "\f538";
  }
}

