.customify-color-select {

  &__option-list {
    display: flex;
    margin-left: -5px;

    > * {
      border-radius: 50%;
      overflow: hidden;
      text-indent: -999em;
      flex: 0 0 auto;
      width: 30px;
      margin-left: 5px;
      border: var(--customizer-field-border-width) solid var(--sm-color-palette-neutral-color-2);

      &:before {
        content: "";
        padding-top: 100%;
        display: block;
        background-color: currentColor;
      }
    }
  }

  &__option-label {
    display: none;
  }

  &__option--text {
    color: #333;
  }

  &__option--titles {
    color: #222;
  }

  &__option--accent {
    color: #A22;
  }

  &__option--background {
    color: #EEE;
  }

  &__option--selected {
    box-shadow: var(--sm-color-palette-neutral-color-6) 0 0 0 var(--customizer-field-border-width);
  }
}
