# MAKE A COPY OF THIS FILE AS .env AND FILL IT WITH THE ACTUAL VALUES OF YOUR SETUP.
# Environment variables needed for running the PHPUnit tests.

# This database will get emptied, filled, you name it. You should create an empty database specifically for running tests.
WP_TESTS_DB_NAME="wordpress_test_db"
WP_TESTS_DB_USER="db_user"
WP_TESTS_DB_PASSWORD="db_user_pass"
# If you want to run tests from a command line that is not in the webserver environment (like from a local development environment)
# you need to provide the full path to the MySQL socket or full URL to the MySQL instance.
WP_TESTS_DB_HOST="localhost"
