.customize-control-range {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-left: -1em;

  &[class][class] > * {
    margin-left: 1em;
  }

  .customize-control-title,
  .customize-control-notifications-container {
    width: 100%;
  }

  input[type="range"] {
    flex-grow: 1;
  }

  .range-value {
    flex-basis: 5em;
  }
}
