@mixin dropdown-arrow {

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 26px;

    border: 10px solid transparent;
  }

  &:before {
    z-index: 100;
    border-bottom-color: var(--sm-color-palette-neutral-color-3);
    border-width: 11px;
  }

  &:after {
    z-index: 101;
    border-bottom-color: var(--sm-color-palette-neutral-color-1);
    margin-right: 1px;
  }
}
