@mixin field {
  display: flex;
  align-items: center;

  width: 100%;

  padding: var(--customizer-field-padding-y) var(--customizer-field-padding-x);
  border: var(--customizer-field-border-width) solid var(--customizer-field-border-color);
  border-radius: var(--customizer-field-border-radius);
  background: var(--customizer-field-background-color);
  color: var(--customizer-field-text-color);

  font-size: var(--customizer-field-font-size);
  font-weight: var(--customizer-field-font-weight);
  line-height: var(--customizer-field-line-height);

  transition: all .2s ease-out;
  transition-property: color, background-color, border-color;

  outline: 0;

  &:focus {
    border-color: var(--customizer-field-focus-border-color);
    box-shadow: none;
  }
}

@mixin input {
  @include field;
}

@mixin field-select {
  padding-right: calc( 2 * var(--customizer-field-padding-x) + 15px );

  background-image: url($select-svg-arrow-dark);
  background-repeat: no-repeat;
  background-position: right var(--customizer-field-padding-x) top 50%;
}

@mixin select {
  @include field;
  @include field-select;
}

@mixin select-focus {
  border-color: var(--customizer-field-focus-border-color);
  background-color: var(--customizer-select-focus-background-color);
  background-image: url($select-svg-arrow-white);
  color: var(--customizer-select-focus-text-color);
}

@mixin select-opened {
  border-color: var(--customizer-field-focus-border-color);
  background-color: var(--customizer-select-focus-background-color);
  background-image: url($select-svg-arrow-white-up);
  color: var(--customizer-select-focus-text-color);
}

@mixin range-track-style {

  &::-webkit-slider-runnable-track {
    @content;
  }

  &::-moz-range-track {
    @content;
  }
}

@mixin range-thumb-style {

  &::-webkit-slider-thumb {
    @content;
    -webkit-appearance: none;
  }


  &::-moz-range-thumb {
    @content;
    -moz-appearance: none;
  }
}

@mixin range-active-thumb-style {

  &:active::-webkit-slider-thumb {
    @content
  }

  &:active::-moz-range-thumb {
    @content
  }
}

@mixin checkbox {
  display: none;

  + label {
    display: flex;
    align-items: center;
  }

  + label:before {
    content: "";

    display: block;
    width: var(--customizer-checkbox-size);
    height: var(--customizer-checkbox-size);
    flex: 0 0 auto;

    margin-right: calc( 0.5 * var(--customizer-spacing) );
    border: var(--customizer-field-border-width) solid var(--customizer-field-border-color);

    background: var(--customizer-field-background-color) center no-repeat;
  }

  &:focus + label:before {
    border-color: var(--customizer-field-focus-border-color);
  }

  &:checked + label:before {
    border-color: var(--customizer-field-focus-border-color);
    background-color: var(--sm-color-palette-neutral-color-5);
    background-image: url($checkmark-svg-white);
  }
}
