[id="customize-control-sm_site_color_variation_control"],
[id="customize-control-sm_coloration_level_control"],
[id="customize-control-sm_dark_mode_advanced_control"] {
  border: solid var(--customizer-border-color);
  border-width: 1px 0;
  margin-top: 20px;
  background: var(--sm-color-palette-accent-color-1);

  &.customize-control[class] {
    padding-bottom: var(--customize-control-spacing-y);
  }

  .customize-control-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.02em;
  }
}

[id="customize-control-sm_colorize_elements_button_control"] {
  padding: 0;

  .sm-panel-toggle {
    border-top: 0;
  }
}

.sm-blinds,
.sm-group__body,
.sm-blinds__header,
.sm-blinds__body,
.sm-panel-toggle {
  border: 0 solid var(--customizer-border-color);
}

.sm-group__body,
.sm-blinds__header,
.sm-blinds__body,
.sm-panel-toggle {
  padding: var(--customize-control-spacing-y) var(--customize-control-spacing-x);
  background: var(--sm-color-palette-accent-color-1);
  border-top-width: 1px;
}

.sm-group__body,
.sm-blinds,
.sm-panel-toggle {

  &:last-child {
    border-bottom-width: 1px;
  }
}

.sm-panel-toggle {
  display: flex;
  align-items: center;
  width: 100%;

  font-size: 15px;
  line-height: 1.3;
  letter-spacing: -0.02em;

  cursor: pointer;

  &:after {
    content: "\f345";
    font: normal 20px/1 dashicons;
    speak: never;
    display: block;
    margin-left: auto;
    color: var(--sm-color-palette-accent-color-5);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.sm-panel-toggle__label {
  margin-right: 10px;

  .sm-panel-toggle__icon + & {
    margin-left: 10px;
  }
}

.sm-panel-toggle__icon {

  svg {
    display: block;
    width: 24px;
  }
}

//.customize-control-html[id*="sm-description"] {
//  margin-top: var(--customize-control-spacing-y);
//  padding-top: var(--customize-control-spacing-y);
//  padding-bottom: var(--customize-control-spacing-y);
//  border: solid var(--customizer-border-color);
//  border-width: 1px 0;
//
//  &:first-child,
//  .customize-section-description-container:first-child + & {
//    border-top: 0;
//    margin-top: 0;
//  }
//}

.customize-control-html {

  &[id="sm-group__separator"] {
    background: var(--sm-color-palette-accent-color-2);
  }
}

.sm-group {
  margin-top: var(--customize-control-spacing-y);
}

.sm-blinds__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 15px;
  line-height: 1.4;
  letter-spacing: -0.03em;

  cursor: pointer;

  .sm-blinds:not(:first-child) & {
    border-top: 1px solid var(--customizer-border-color);
  }
}

.sm-blinds__body {
  border-top: 1px solid var(--customizer-border-color);

  .sm-blinds--closed & {
    display: none;
  }
}

.sm-blinds__toggle {
  position: relative;
  width: 14px;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -7px;
    margin-left: -7px;
    background: var(--sm-color-palette-accent-color-5);
  }

  &:before {
    height: 2px;
    margin-top: -1px;
  }

  &:after {
    width: 2px;
    margin-left: -1px;

    .sm-blinds--open & {
      display: none;
    }
  }
}
